.badge {
  color: white;
  text-transform: uppercase;

  a {
      color: #FFF;
  }

  &:not(:last-child) {
    margin-right: .5rem;
  }
}

.badge-round-element {
  padding: .5rem .625rem;
  border-radius: 1rem;
  color: $gray-900;
  font-size: .75rem;
  box-shadow: $input-btn-focus-box-shadow;
  background-color: $black;
}


.btn {
  .badge {
    margin-left: .5rem;
    margin-right: 0;
  }
}

@each $color, $value in $theme-colors {
  .badge-#{$color} {
    background-color: $value;
  }
}

h1, h2, h3, h4, h5, h6 {
  .badge {
    font-size: 65%;
  }
}