
.border-bottom {
    .breadcrumb {
        background-color: transparent;
    }
}

.breadcrumb {
    margin-bottom: 0;

    .breadcrumb-item {
        font-weight: $font-weight-medium;

        + .breadcrumb-item { 
          &:before {
            @extend %ebf;
            content: $ebf-chevron-right;
            color: $primary-900;
            font-size: $font-size-sm;
          }
        }

        &.active {
          font-weight: $font-weight-normal;
        }

        a {
          color: $primary-900;            
        }
    }
}