/* Make BS Cards point out when hovered */
.hoverable-card {
  cursor: pointer;
  transition: all 0.25s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 4px 8px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.10);

  &:hover {
      text-decoration: none;
      box-shadow: 0 8px 16px rgba(0,0,0,0.20), 0 5px 10px rgba(0,0,0,0.15);
      transform: translateY(-.25rem);
  }
}

.ebf-card-container {
  .col {
    padding-bottom: 1.875rem;
  }
}

.card-deck {
  margin-bottom: $spacer*2;
}

.card-body {
  padding: $spacer*3 $spacer;  
}

.card-hover {
  transition: $smooth-color-animation-slow;

  &:hover {
    transform: translateY(-4%);
    box-shadow: $box-shadow!important;
    border: 1px solid transparent;
  }
}

.ebf-card-select {

  cursor: pointer;
  
  .ebf-card-icon {
    text-align: center;
    font-size: $font-size-xl;
    padding: $spacer;
    background-color: $blue;
    color: white;
    border-radius: $spacer*2;    
  }

  .card-text {
    color: $gray-800;
    font-size: $font-size-sm;    
  }
  
  &:hover {
    .ebf-card-icon {
      animation: heartbeat .3s ease-in-out both;
    }
  }

  &.card-hover-effect {
    transition: $smooth-color-animation-slow;       

    .ebf-card-icon {transition: $smooth-color-animation-slow;}
    .card-title,
    .card-text {
      transition: $smooth-color-animation .1s;
    }

    &:hover {
      background: $blue;
      border: 1px solid $blue;
      box-shadow: $box-shadow-dark!important;
  
      .ebf-card-icon {
        background-color: white;
        color: $blue;        
      }
  
      .card-title {
        color: white;
      }
  
      .card-text {
        color: white;
      }
    }
  }
}

.ebf-card-summary {
  
  position: relative;
  overflow: hidden;
  border: none;
  font-weight: $font-weight-medium;
  box-shadow: $box-shadow;
  font-size: $font-size-base - .125;  
  background: white;

  .card-body {
    padding: $spacer * 1.5 $spacer * 1.5 $spacer * 1.5 $spacer * 2;

    .list-group {
      .list-group-item {        
        background-color: transparent;
        color: $black;
        border: none;
        
        padding: $spacer / 2 0 ;

        &.eid-color {
          color: $blue;
        }

        span {
          color: $gray-800;
          font-weight: $font-weight-normal;
        }
      }
    }
  } 

  &:before {
    content: '';
    width: $spacer / 2;
    height: 100%;
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    background-color: $blue;
  }

  &.ebf-card-summary-horizontal {
    //max-height: $spacer*6;

    .card-body {    
      .list-group {
        flex-direction: row;
        justify-content: space-around;

        .list-group-item {
          padding: $spacer / 5.333 $spacer / 2;
          //flex: 1 1 0;
          
          &:nth-of-type(1) {            
            width: 30%;
            padding-left: 0;
          }
          
          &:nth-of-type(2) {
            width: 30%;
          }

          &:nth-of-type(3) {
            width: 15%;
          }

          &:nth-of-type(4) {
            width: 15%;
          }

          &:nth-of-type(5) {
            width: 10%;
          }


          span {
            display: block;
          }
        }
      }
    }
  }
}
