/* Make BS Cards point out when hovered */
.hoverable-card {
  cursor: pointer;
  transition: all 0.25s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 4px 8px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.10);

  &:hover {
      text-decoration: none;
      box-shadow: 0 8px 16px rgba(0,0,0,0.20), 0 5px 10px rgba(0,0,0,0.15);
      transform: translateY(-.25rem);
  }
}

.ebf-card-container {
  .col {
    padding-bottom: 1.875rem;
  }
}

.card-deck {
  margin-bottom: $spacer*2;
}

.card-body {
  padding: $spacer*3 $spacer;
}

.card-hover {
  transition: all .2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: $box-shadow;
  }
}

.ebf-card-select {
  
  .ebf-card-icon {
    text-align: center;
    font-size: $font-size-xl;
    padding: $spacer;
    background-color: $blue;
    color: white;
    border-radius: $spacer*2;
  }

  .card-text {
    color: $gray-800;
  }
}

.ebf-card-summary {
  position: relative;
  overflow: hidden;
  box-shadow: $box-shadow;
  transition: all .2s ease;  
  border: none;
  font-weight: $font-weight-bold;
  font-size: $font-size-base - .125;

  .card-body {
    padding: $spacer * 2 $spacer * 2 $spacer * 2 $spacer * 2.5;

    .list-group {
      .list-group-item {

        color: $black;
        border: none;
        padding: $spacer / 2 0 ;

        &.eid-color {
          color: $blue;
        }

        span {
          color: $gray-800;
        }
      }
    }
  } 

  &:before {
    content: '';
    width: $spacer / 2;
    height: 100%;
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    background-color: $blue;
  }
}