/* Make BS Cards point out when hovered */
.hoverable-card {
  cursor: pointer;
  transition: all 0.25s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 4px 8px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.10);

  &:hover {
      text-decoration: none;
      box-shadow: 0 8px 16px rgba(0,0,0,0.20), 0 5px 10px rgba(0,0,0,0.15);
      transform: translateY(-.25rem);
  }
}

.card-body {
  padding: $spacer*4 $spacer;
}

.ebf-card-select {
  text-align: center;

  .ebf-card-icon {
    text-align: center;
    font-size: $font-size-xl;
    padding: $spacer;
    background-color: $blue;
    color: white;
    border-radius: 50%;
  }
}
