.copyblock-container {
    div {       

        button {
            border: 0;
            background: $gray-300;
            transition: $smooth-color-animation;
            margin-top: 4px;   
                

            svg {
                fill: white;
            }

            &:hover {
                background: $gray-600;
            }

            &:not(:disabled) {
                opacity: 1;                
            }

            &:disabled {                
                background: $green-500;               
                
                &:after {  
                    content: $copy-en;
                    display: block;                    
                    text-align: center;                        
                    font-size: $font-size-xs;
                    text-transform: $heading-text-transform;
                    color: $green-500;
                    font-weight: $font-weight-extra-bold;  	 
                    animation: fade-out-top .4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;     
                }                
            }                
        }

        span {
            background: transparent!important;

            code {
                background: transparent!important;
            }
        }
    }

    button + div,
    form + div,
    div + div {
        box-shadow: $box-shadow-inset-sm;
        background-color: $gray-100;
    }

    .shadow-none {
        background-color: transparent;
    }    
}

.react-syntax-highlighter-line-number {
    color: $gray-400;
}

code {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
    font-size: $font-size-sm!important;

    .plain-text {
        color: $gray-600;
    }
}
