/* Reset Dropdown Toggle Button padding and remove the carret */
.dropdown-toggle.btn,
.dropdown.carrot-none .dropdown-toggle {
    padding: .375rem .75rem;

    &::before,
    &::after {
        display: none;
    }
}

.dropdown-menu {
    &.show {
        animation: show-navbar-dropdown .25s ease forwards;
    }

    &.close{
        display: block;
        animation: hide-navbar-dropdown .15s ease backwards;
    }
}

@keyframes show-navbar-dropdown {
    0% {
        transition: top .25s, visibility .25s, opacity .25s;
        top: 1rem;
        opacity:0;
    }
    100% {
        top: 0;
        opacity:1
    }
}

@keyframes hide-navbar-dropdown {
    from {
        opacity:1
    }
    to {
        top: 1rem;
        opacity:0
    }
}