$social-colors: (
"facebook": $facebook,
"twitter": $twitter
);

@each $color, $value in $social-colors {
    .bg-#{$color} {
        background-color: $value;
    }
}

$grays: (
"gray-100": $gray-100,
"gray-200": $gray-200,
"gray-300": $gray-300,
"gray-400": $gray-400,
"gray-500": $gray-500,
"gray-600": $gray-600,
"gray-700": $gray-700,
"gray-800": $gray-800,
"gray-900": $gray-900,
);

@each $color, $value in $grays {
    .bg-#{$color} {
        background-color: $value;
    }
}

$blues: (
"blue": $blue,
"blue-100": $blue-100,
"blue-200": $blue-200,
"blue-300": $blue-300,
"blue-400": $blue-400,
"blue-500": $blue-500,
"blue-600": $blue-600,
"blue-700": $blue-700,
"blue-800": $blue-800,
"blue-900": $blue-900,
);

@each $color, $value in $blues {
    .bg-#{$color} {
        background-color: $value;
    }
}

$reds: (
"red": $red,
"red-100": $red-100,
"red-200": $red-200,
"red-300": $red-300,
"red-400": $red-400,
"red-500": $red-500,
"red-600": $red-600,
"red-700": $red-700,
"red-800": $red-800,
"red-900": $red-900,
);

@each $color, $value in $reds {
    .bg-#{$color} {
        background-color: $value;
    }
}

$oranges: (
"orange": $orange,
"orange-100": $orange-100,
"orange-200": $orange-200,
"orange-300": $orange-300,
"orange-400": $orange-400,
"orange-500": $orange-500,
"orange-600": $orange-600,
"orange-700": $orange-700,
"orange-800": $orange-800,
"orange-900": $orange-900,
);

@each $color, $value in $oranges {
    .bg-#{$color} {
        background-color: $value;
    }
}

$yellows: (
"yellow": $yellow,
"yellow-100": $yellow-100,
"yellow-200": $yellow-200,
"yellow-300": $yellow-300,
"yellow-400": $yellow-400,
"yellow-500": $yellow-500,
"yellow-600": $yellow-600,
"yellow-700": $yellow-700,
"yellow-800": $yellow-800,
"yellow-900": $yellow-900,
);

@each $color, $value in $yellows {
    .bg-#{$color} {
        background-color: $value;
    }
}

$greens: (
"green": $green,
"green-100": $green-100,
"green-200": $green-200,
"green-300": $green-300,
"green-400": $green-400,
"green-500": $green-500,
"green-600": $green-600,
"green-700": $green-700,
"green-800": $green-800,
"green-900": $green-900,
);

@each $color, $value in $greens {
    .bg-#{$color} {
        background-color: $value;
    }
}

$purples: (
"purple": $purple,
"purple-100": $purple-100,
"purple-200": $purple-200,
"purple-300": $purple-300,
"purple-400": $purple-400,
"purple-500": $purple-500,
"purple-600": $purple-600,
"purple-700": $purple-700,
"purple-800": $purple-800,
"purple-900": $purple-900,
);

@each $color, $value in $purples {
    .bg-#{$color} {
        background-color: $value;
    }
}
