.footer {
  background: $footer-bg;
  color: $footer-color;
  font-size: $footer-font-size;
  padding: $footer-padding-y $footer-padding-x;
  border-top: $footer-border-width $footer-border-color solid;

  a {
    color: $footer-link-color;
    
    @include hover() {
      color: $footer-link-hover-color;
    }
  }
}