html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 52px;
}

.footer {
  background: $footer-bg;
  color: $footer-color;
  font-size: $footer-font-size;
  padding: $footer-padding-y 0;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
  width: 100%;
  line-height: 1;
  height: 52px;
    
    

  a {
    color: $footer-link-color;
    
    @include hover() {
      color: $footer-link-hover-color;
    }
  }

  .container {
    position: relative;
    width: auto;   
    padding: 0;
  }
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}