.form-group label {
  font-size: $input-label-font-size;
  font-weight: $input-label-font-weight;
  margin-bottom: 0.25rem;
}

fieldset {
  margin-top: $spacer / 2;
  margin-bottom: $spacer / 2;

  legend {
    margin-top: $spacer * 1.5;
    margin-bottom: $spacer / 2;
    font-size: 1.2rem;
    font-weight: 300;
  }
}

//Checkbox 


.form-check {
  
  padding-left: 1.75rem;

  //Checkbox

  input[type=checkbox] {
    display: none !important;
  }

  input[type=checkbox] + label {

    cursor: pointer;

    &:before {
      content: '';      
      border: 1px solid $border-color;
      width: 1.25rem;
      height: 1.25rem;
      display: block;
      border-radius: 4px;
      position: absolute;
      left: 0;
      top: 2px;
      cursor: pointer;
      background: white;
      transition: $smooth-color-animation;
    }

    &:after {
      content: '\ea3c';
      font-family: "ebf-iconset";
      font-size: .875rem;
      line-height: .875rem;      
      color: white;       
      display: block;
      position: absolute;
      left: 3px;
      top: 0px;
      cursor: pointer;
      transition: $smooth-scaling-animation;
      transform-origin: center;
      transform: scale(0);
    }
  }

  input[type=checkbox]:checked + label {
    &:before {     
      background: $blue;
      border: 1px solid $blue;
    }    
  }

  input[type=checkbox]:checked + label {
    &:after {      
      transform: scale(1);
      top: 5px;
    }    
  }

  // Radio

  input[type=radio] {
    display: none !important;
  }

  input[type=radio] + label {

    &::before {
      content: '';      
      border: 1px solid $border-color;
      width: 1.25rem;
      height: 1.25rem;
      display: block;
      border-radius: 1rem;
      position: absolute;
      left: 0;
      top: 2px;
      cursor: pointer;
      background: white;
      transition: $smooth-color-animation;
    }

    &:after {
      content: '';
      width: .5rem;
      height: .5rem;
      display: block;
      border-radius: 1rem;
      background: white;
      position: absolute;
      top: 8px;
      left: 6px;
      cursor: pointer;
      transition: $smooth-scaling-animation;
      transform-origin: center;
      transform: scale(0);
    }
  }

  input[type=radio]:checked + label {
    &:before {     
      background: $blue;
      border: 1px solid $blue;
    }    
  }

  input[type=radio]:checked + label {
    &:after {      
      transform: scale(1);
    }    
  }
}

// Switch

.custom-control {
  padding-left: 3rem;
   
  .custom-control-label {
    cursor: pointer;

    &::before {
      left: -3rem;
      width: 2.5rem;
      height: 1.25rem;
      border: 1px solid $border-color;
      top: 0;
      transition: $smooth-color-animation;
    }
    
    &::after {
      left: calc(-2.85rem + 2px);
      width: .75rem;
      height: .75rem;      
      transition: $smooth-scaling-animation;
    }
    
    &:focus,
    &:hover {
      &::before {
        border: 1px solid $border-color;
      }
    }
  }
}

.custom-switch {
  .custom-control-input:checked ~ .custom-control-label {
    &::after {
      transform: translateX(1.25rem);
    }

    &::before {
      border: 1px solid $blue;
    }
  }
}

.form-group {
  .form-check-inline {
    input[type=checkbox] + label {
      &::before {
        top: 0;
      }
  
      &::after {
        top: 3px;
      }
    }

    input[type=radio] + label {
      &::before {
        top: 0;
      }
  
      &::after {
        top: 6px;
      }
    }
  }
}

.form-control {
  padding: $input-btn-padding-y;
}

.form-control-sm {
  padding: .25rem $input-btn-padding-y;
}

// Select Styling

.ebf-select-arrow {
  
}