@each $color, $value in $theme-colors {
	.icon-#{$color} {
		@include icon-variant($value);
	}
}

.icon-lg {
	font-size: (4em / 3);
	line-height: (3em / 4);
	vertical-align: -.0667em;
}

.icon-xs {
	font-size: .75em;
}

.icon-sm {
	font-size: .875em;
}

@for $i from 1 through 10 {
	.icon-#{$i}x {
			font-size: $i * 1em;
	}
}