/* Make sure that the modal element is vertically centered */
.modal-header {
  padding: 1.625rem 1.25rem;
  background: $gray-100;
}

.modal-title {
  line-height: 1;
}

.modal-body {
  padding: 2.5rem 1.25rem;
}

.modal-footer {
  padding: .5rem 1.25rem;
}

.modal-open .modal {
  display: flex !important;
  align-items: center;
}

.modal-dialog {
  flex: 1 1 auto;
  margin: auto;
  padding: 1.5rem 0;

}

/* Add a nice drop shadow to the Sweet Alert modal dialogs */
.swal2-modal {
  box-shadow: $model-drop-shadow;
}