.nav-link {
  font-size: .875rem;

  &.active {
    color: $black;
  }
}

.navbar-light {
  border: none;
}

.nav-search { 

  &.gray-search {
    background: $gray-200;
    border-radius: $border-radius;
  }

  input {
    color: $gray-800;
    border-color: $gray-400;
    border-right-color: transparent;
    padding-left: 1em;
    padding-right: 1em;
    background-color: transparent;

    &:focus {
      border-color: $gray-400;
      border-right-color: transparent;
      box-shadow: none;
    }
  }

  .btn {
    background: transparent;
    border-color: $gray-400;
    box-shadow: none;
    border-left-color: transparent;
    padding-right: .75rem;
    padding-left: .75rem;
    color: $gray-800;

    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      transform: translateY(0px);
      border-color: $gray-400!important;
      border-left-color: transparent!important;
      background: transparent!important;
      box-shadow: none;
      color: $blue-900!important;
    }

    &:focus {
      color: $black!important;
    }
  }
}


.navbar-dark {
  .navbar-brand {
    color: white;
  }
}

.ebf-double-navbar {

  .secondary-nav {
  // Dirty Hack secondary navigation height
    max-height: 72px;
    
    * {  
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

.navbar-nav {
  .nav-link {
    i {
      position: relative;
      top: 2px;
      font-size: 1.25rem;
    }
  }
}

//TODO - FLEX CENTERING OF INDEPENDENT ELEMENTS 