//Navs 

.nav-dots {
  margin-bottom: $spacer;

  .nav-item {

    .nav-link {
      color: $nav-link-color;  
      transition: $smooth-color-animation;       
      position: relative;   
      

      &::after {
        content: '';
        display: block;
        background: $blue;
        width: $spacer / 2;
        height: $spacer / 2;
        border-radius: $spacer / 2;
        margin: 0 auto;
        position: relative;
        bottom: -2px;
        transition: $smooth-scaling-animation-dots;
        transform-origin: center;
        transform: scale(0);
      }

      &:hover {
        color: $primary;
        
      }

      &.active {
        color: $nav-link-active-color;        

        &::after {
          transform: scale(1);
        }
      }

      &.disabled {
        color: $nav-link-disabled-color;
        pointer-events: none;
      }
    }
  }
}

.vertical-nav {
  .nav-item {
    .nav-link {

      &::after {        
        margin: 0;
        bottom: auto;
        position: absolute;
        left: 0;
        bottom: .875rem;
      }

      &.active {        
        &::after {
          transform: scale(1);
        }
      }
    }
  }
}

.nav-tabs {
  .nav-item {
    i {
      margin-right: $spacer / 4;
    }
    .nav-link {
      color: $nav-link-color;
      transition: $smooth-color-animation;

      &::after {
        content: none;
      }

      &.disabled {
        color: $nav-link-disabled-color;
      }

      &.active {
        color: $nav-link-active-color;
      }
    }
  }
}

.nav-pills {
  .nav-item {
    .nav-link {      
      color: $nav-link-color;
      transition: $smooth-color-animation;
      padding: $input-btn-padding-y $input-btn-padding-x;
      line-height: 1;

      &::after {
        content: none;
      }

      &.disabled {
        color: $nav-link-disabled-color;
      }

      &.active {
        color: white;
      }
    }
  }
}