//Navs 

.nav-item {
  position: relative;
}

.nav-dots {
  margin-bottom: $spacer;

  .nav-item {

    .nav-link {
      color: $nav-link-color;  
      transition: $smooth-color-animation;       
      position: relative;   
      

      &::after {
        content: '';
        display: block;
        background: $primary;
        width: $spacer / 2;
        height: $spacer / 2;
        border-radius: $spacer / 2;
        margin: 0 auto;
        position: relative;
        bottom: -2px;
        transition: $smooth-scaling-animation-dots;
        transform-origin: center;
        transform: scale(0);
      }

      &:hover {
        color: $primary;        
      }

      &.active {
        color: $nav-link-active-color;        

        &::after {
          transform: scale(1);
        }
      }

      &.disabled {
        color: $nav-link-disabled-color;
        pointer-events: none;
      }
    }
  }
}

.vertical-nav {
  .nav-item {
    .nav-link {

      &::after {        
        margin: 0;
        bottom: auto;
        position: absolute;
        left: 0;
        bottom: .875rem;
      }

      &.active {        
        &::after {
          transform: scale(1);
        }
      }
    }
  }
}

.nav-tabs {
  .nav-item {
    i {
      margin-right: $spacer / 4;
    }
    .nav-link {
      color: $nav-link-color;
      transition: $smooth-color-animation;

      &:hover {
        background: $gray-200;
      }

      &::after {
        content: none;
      }

      &.disabled {
        color: $nav-link-disabled-color;
      }

      &.active {
        color: $nav-link-active-color;

        &:hover {
          background: white;
        }
      }
    }

    .nav-link {
      padding: $input-btn-padding-y $input-btn-padding-x;
      line-height: 1;
    }
  }
}

.nav-pills {
  .nav-item {
    .nav-link {    
        
      color: $nav-link-color;
      transition: $smooth-color-animation;
      padding: $input-btn-padding-y $input-btn-padding-x;
      line-height: 1;

      &:hover {
        background: $gray-200;
      }

      &::after {
        content: none;
      }

      &.disabled {
        color: $nav-link-disabled-color;
      }

      &.active {
        color: white;

        &:hover {
          background: $primary;
        }
      }
    }
  }
}


// Badge 



.ebf-badge-notification {
  display: block!important;
  width: $spacer / 2;
  height: $spacer / 2;
  border-radius: $spacer;    
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
  padding: 0;

  &:after {
      content: '';                          
      width: $spacer;
      height: $spacer;
      border-radius: $spacer;
      display: block;
      position: relative;
      top: -4px;
      right: 4px;
      z-index: -1 !important;
      background: inherit;                    
      opacity: .2;
      transform: scale(0);
      transform-origin: center;
      transition: $smooth-scaling-animation-dots;
      animation: pulsate-animation-s 2.5s ease-in-out infinite both;
  }
}
