// .navbar {
//   z-index: 99999;
// }

.navbar-brand {
  padding: 0;
  margin-bottom: 0;
}

.nav-link {
  font-size: .875rem;
  transition: $smooth-color-animation;

  &.active {
    color: $black;
  }
}

.navbar-light {
  border: none;
}

.nav-search {   
  
  
  &.gray-search {
    background: $gray-200;
    border-radius: $border-radius;

    input {
      background: $gray-200;
    }

    .btn {
      background: $gray-200;
    }
  }

  input {
    color: $gray-800;
    border-color: $gray-400;
    border-right-color: transparent;
    padding-left: 1em;
    padding-right: 1em;
    background-color: white;

    &:focus {
      border-color: $gray-400;
      border-right-color: transparent;
      box-shadow: none;
    }
  }

  .input-group-append {
    height: calc(1em + 2rem);
  }

  .btn {
    background: white;
    border-color: $gray-400;
    box-shadow: none;
    border-left-color: transparent;
    padding-right: .75rem;
    padding-left: .75rem;
    color: $gray-800;
    

    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      transform: translateY(0px);
      border-color: $gray-400!important;
      border-left-color: transparent!important;
      background: transparent!important;
      box-shadow: none;
      color: $primary-900!important;
    }

    &:focus {
      color: $black!important;
    }
  }
}

.navbar {
  max-height: $spacer * 4;
}

@include media-breakpoint-down(sm) {
  .navbar {
    max-height: none;
  }

  .navbar-collapse {  
    padding-top: 1rem;  
  }
}



.navbar-dark {
  .navbar-brand,
  .navbar-subtitle {
    color: white;
  }

  &.border-top {
    border-top: 0.0625rem solid $gray-900 !important;
  }

}

.ebf-double-navbar {
  .secondary-nav {
  // Dirty Hack secondary navigation height

    max-height: $spacer * 4;
    
    * {  
      margin-bottom: 0;
      margin-top: 0;
    }    
  }
}



#responsive-navbar-nav {
  //z-index: 999;
  // background: white;
  // padding: 1rem;
  // margin: 0 -1rem;
}



  // TODO: FIX INVALID SCSS!!!
  // &:nth-last-child() {
  //   padding-left: 0;
  // }
  // &:nth-last-child() {
  //   padding-right: 0;
  // }


.navbar-subtitle {
  font-size: $h6-font-size;
}

//FLEX CENTERING OF INDEPENDENT ELEMENTS 


.centering-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child > * {
    margin-right: auto;
  }

  &:last-child > * {
    margin-left: auto;
  }
}



// Dropdown

.dropdown-menu {
  padding: 0;
  //z-index: 999;
}

.dropdown-divider {
  margin: 0;
}


.navbar-nav {
  .nav-link {
    i {
      position: relative;
      top: 2px;
      font-size: 1.25rem;
      margin-right: $spacer / 8;
    }
  }
}

.ebf-notif-dropdown {
  //padding: $btn-padding-y-sm  0;

  .btn {
    //padding: 0;
    color: $gray-800;
    line-height: 1.5;
    border: 0;
    align-self: center;
    margin-right: 0!important;

    &:active,
    &:focus,
    &:hover {
      color: $gray-900;
      box-shadow: none!important;
    }

    &:not(.btn-link) {  
      &:hover {
        box-shadow: none;
      }
      
      @include hover-focus {
        transform: translateY(0px);
      }
    }
  }

  .dropdown-menu {
    min-width: 24rem;
    max-width: 24rem;
    float: left;
    overflow: hidden;

    .dropdown-item {
      white-space: normal;
      transition: $smooth-color-animation;
      padding: $input-btn-padding-y $input-btn-padding-x;

      .icon-notif {
        padding-right: 0;

        i {
          width: $spacer * 2.5;
          height: $spacer * 2.5;
          background: $primary-200;
          border-radius: $spacer * 2;
          color: $primary;
          font-size: $font-size-lg;
          transition: $smooth-color-animation-slow;
        }
      }

      .content-notif {
        transform-origin: left;
        animation: heartbeat-reverse .2s forwards;

        span {
          display: block;
        }
        .dropdown-timestamp {
          color: $gray-600;
        }
      }

      .dismiss-notif {
        padding: 0;
        text-align: center;
        i {
          transform: rotate(45deg);
          transition: $smooth-color-animation;
        }

        &:hover {
          i {
            color: $black;
          }
        }
      }

      &:active,
      &.active,
      &:focus,
      &.focus,
      &:hover {
        background: $gray-100;

        .icon-notif {
          i {
            background: $primary-100;
          }
        }

        .content-notif {
          color: $gray-800;
        }

        .dismiss-notif {
          color: $gray-800;
        }
      }

      &:hover {
        .icon-notif {
          i {
            background: $primary-100;
          }
        }
        .content-notif {
          animation: heartbeat-hold .2s forwards;
        }
      }

      &:hover {
        &.clear-all-notif {
          color: white;
          background: $primary;
        }
      }
    }
  }
}
