.nav-ebf-progress-bar {
    border-top: 0.0625rem solid #d4d9e2 !important;
    height: $spacer * 5.5;
    max-height: $spacer * 5.5;
    padding: 1.25rem 0 1.75rem 0;
    background: $gray-100;
}

.ebf-progress-bar {
    position: relative;
    margin: 0 auto;
    
    .progress {
        height: $spacer / 8;       
    }

    .progress-bar-item-container {
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .progress-bar-item { 
            display: flex;
            justify-content: center;
            align-items: flex-end;
            //height: 4rem;
            width: 0;
            position: relative;
            top: $spacer/3;
            font-size: $font-size-sm;
            text-align: center;
            font-style: italic;
            color: $black;
            pointer-events: none; 
            z-index: 9;

            .progress-label {
                margin-bottom: $spacer * 1.5;
                line-height: 1;
                transition: $smooth-color-animation;
                color: $gray-900;

                &:after {
                    content: '';                   
                    width: $spacer;
                    height: $spacer;
                    border-radius: $spacer;
                    display: block;
                    position: absolute;
                    bottom: -4px;                    
                    left: -8px;
                    z-index: -1 !important;
                    background: $blue-200;                    
                    opacity: .5;
                    transform: scale(0);
                    transform-origin: center;
                    transition: $smooth-scaling-animation-dots;
                }
            }
                
            .progress-dot {
                align-self: flex-end;
                width: $spacer/2;
                height: $spacer/2;
                display: block;
                background: $gray-300;
                border-radius: $spacer;
                position: absolute;
                transform-origin: center;
                transform: scale(1);
                transition: $smooth-scaling-animation-dots;
                
            }   
            
            &:hover {      
                .progress-label {
                    &:after {
                        transform: scale(1.5);                      
                    }
                }          
                .progress-dot {
                    transform: scale(1.5);                   
                }
            }
    
            &.active {   
                pointer-events: all;             
                font-style: normal;

                .progress-label {
                    color: $black;
                }
            
                .progress-dot {
                    background: $blue;
                }     
                
                &:hover {
                    .progress-label {
                        color: $blue;
                    }
                }
            }

            &.current {
                pointer-events: none;                
                                
                .progress-label {
                    
                    &:after {
                        transform: scale(1.25);
                        animation: pulsate-animation 2.5s ease-in-out infinite both;                        
                    }
                }

                .progress-dot {
                    transform: scale(1.5);
                }

                &:hover {       

                    .progress-label {
                        &:after {
                            transform: scale(1.5)!important;
                            opacity: .5!important;
                        }
                    }
                }
            }
        }
    }    
}
