
// Tables styles

.ebf-table {
    font-size: $input-btn-font-size;
    border: $border-width solid $border-color;
  
    thead {
      tr {
        th {
          &.header-container {
            background: $gray-gradient;
          }
          background: $gray-200;
          border-bottom: none;
          color: $black;

          h5 {
            line-height: 3;
          }
        }
      }
    }
  
    tbody {
      tr {
        td {
  
          color: $gray-900;
          &:nth-of-type(2) {
            color: $black;
            font-weight: $font-weight-bold;
          }
        }
      }
    }
  } 