
// Tables styles

.ebf-table {
    .ebf-table-header {
      background: $gray-gradient;
      border-bottom: none;
      color: $black;
      border: 1px 1px 0 1px solid $border-color;
    }

    .ebf-table-headline {
      line-height: 3rem;
      margin-bottom: 0;
    }

    .table {
      font-size: $input-btn-font-size;
      border: 0 1px 1px 1px solid $border-color;

      th {
        background: $gray-200;
        border-bottom: none;
        color: $black;
        font-weight: $font-weight-bold;
      }
      
      td {
        color: $gray-900;
      }
    }
  } 