h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6  {
    color: $black;       
    font-weight: $font-weight-medium;
}

p {
  line-height: $theme-paragraph-line-height;
}

pre {
  margin-bottom: 0;
}

blockquote {
  font-size: $font-size-lg;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  margin-top: $spacer;
}

.code-snippet {
  display: block;
  background-color: $black;
  padding: $table-cell-padding;
  border-radius: $border-radius-xl;
  margin-bottom: $spacer * 6;
  margin-top: $spacer * 2;
}

.font-weight-thin {
    font-weight: $font-weight-thin;
}

.font-weight-medium {
    font-weight: $font-weight-medium;
}

.font-weight-bold {
  font-weight: $font-weight-bold;
}

.font-weight-extra-bold {
    font-weight: $font-weight-extra-bold;
}

.font-size-xl {
    font-size: $font-size-xl;
}

.font-size-lg {
    font-size: $font-size-lg;
}

.font-size-sm {
    font-size: $font-size-sm;
}

.font-size-13 {
    font-size: $font-size-xsm;
}

.font-size-xs {
    font-size: $font-size-xs;
}

.iconset-container {
    text-align: center;
  
    i {
      font-size: $font-size-base * 2.5;
    }

    input {
        text-align: center;
        

        &:focus{
            border-color: $gray-300;
            box-shadow: none;
        }
    }
  }
  