h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6  {
    color: $black ;
}

.code-snippet {
    display: block;
    background-color: $black;
    padding: $table-cell-padding;
    border-radius: $border-radius-xl;
    margin-bottom: $spacer * 6;
    margin-top: $spacer * 2;
}

.font-weight-skinny {
    font-weight: $font-weight-skinny;
}

.font-weight-medium {
    font-weight: $font-weight-medium;
}

.font-weight-extra-bold {
    font-weight: $font-weight-extra-bold;
}