/** Make sure that `liquid-outlet` has a full height
 * in order for sticky footer styles to work as supposed to.
 */
.liquid-flex-container {
  &,
  & > .liquid-child {
      flex-grow: 1; 
      display: flex;
      flex-direction: column;
  }
}

/* Prevents ugly animations for liquidfire */
.liquid-container:not(.liquid-animating) {
  overflow: visible !important;

  .liquid-child {
      overflow: visible !important;
  }
}

/* Add flex grow util CSS class */
.flex-grow {
  flex-grow: 1;
}