.btn {  
  // Loading indicator: compensate for the border width, color and size
  
  .loading-spinner {
    .loading-icon {
      @include loader-size($btn-font-size);
      border-top-color: $white;
      border-left-color: $white;
      margin: -2px auto !important;
    }
  }

  &.btn-lg .loading-spinner .loading-icon {
    @include loader-size($btn-font-size-lg);
  }

  &.btn-sm .loading-spinner .loading-icon {
    @include loader-size($btn-font-size-sm);
  }
}

.btn-icon {   
  &.btn-lg {
    @include button-size(
      $btn-padding-y-lg,
      $btn-padding-y-lg,
      $btn-font-size-lg,
      $btn-line-height-lg,
      $btn-border-radius-lg
    );
  }

  &.btn-sm {
    @include button-size(
      $btn-padding-y-sm,
      $btn-padding-y-sm,
      $btn-font-size-sm,
      $btn-line-height-sm,
      $btn-border-radius-sm
    );
  }
}

/* Sweet alert buttons */
.swal2-popup .swal2-styled {
  &.swal2-confirm,
  &.swal2-cancel {
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  }

  &.swal2-confirm {
    background-color: $primary !important;
  }

  &.swal2-cancel {
    background-color: $secondary !important;
    color: darken(theme-color('secondary'), 50%) !important;
  }
}

.btn {
  &.disabled,
  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}

.file-upload-input {
  &::-webkit-file-upload-button {
    visibility: hidden;
  }

  &::before {
    content: 'Choose file';
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

// Refactor 

$btn-custom-transition:              color .1s ease, background-color .2s ease, border-color .15s cubic-bezier(0.440, -0.480, 0.465, 1.515), box-shadow .15s cubic-bezier(0.440, -0.480, 0.465, 1.515), transform .15s cubic-bezier(0.440, -0.480, 0.465, 1.515) !default;

//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
    
    @include hover-focus-active {
      color: $white;
    }
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

// Primary

.btn-primary {
  @include button-variant(
  $primary,         //background
  $primary,              //border
  $primary-hover,               //hover-background
  $primary-hover,              //hover-border
  $primary-active,              //active-background
  $primary-active               //active-border
  );   

  &:hover {
    color: $white;
  }
}

// Outline Variant

.btn-outline,
.btn-outline-outline {
  @include button-variant(
  $transparent-b,         //background
  $gray-900,              //border
  $black-7,               //hover-background
  $gray-900,              //hover-border
  $black-15,              //active-background
  $gray-900               //active-border
  );   

  color: $gray-1200 !important;
}

// Outline Variant White

.btn-outline-white {
  @include button-variant(
  $transparent-w,         //background
  $white,                 //border
  $white-7,               //hover-background
  $white,                 //hover-border
  $white-15,              //active-background
  $white                  //active-border
  );   
  
  color: $white !important;
}


// Ghost Button

.btn-ghost {
  @include button-variant(
    $transparent-b,   //background
    $transparent-b,   //border
    $black-7,         //hover-background
    $transparent-b,   //hover-border
    $black-15,        //active-background
    $transparent-b    //active-border
  ); 
  
  color: $gray-1200!important;  
}


// Outline Fallbacks

.btn-white {
  @include button-variant(
  $white,                 //background
  $white,                 //border
  $gray-100,               //hover-background
  $gray-100,                 //hover-border
  $gray-200,               //active-background
  $gray-200                  //active-border
  );   
  
  color: $gray-1200 !important;
}


.btn-outline-ghost {
  @include button-variant(
    $transparent-b,   //background
    $transparent-b,   //border
    $black-7,   //hover-background
    $transparent-b,         //hover-border
    $black-15,        //active-background
    $transparent-b         //active-border
  ); 
  
  color: $gray-1200!important;  
}

// Round Button

.btn {
  &.btn-icon {
    padding-right: $fs-3;
    padding-left: $fs-3;
    
    &.btn-round {
      border-radius: $spacer * 2;
      max-width: 2.625rem;
      width: 2.625rem;
      height: 2.625rem;
      padding-left: 10px;
      padding-right: 10px;
      
      @include media-breakpoint-down(md) {
        border-radius: $spacer * 2;
        max-width: $spacer * 3;
        width: $spacer * 3;
        height: $spacer * 3;
        padding-left: $fs-1;
        padding-right: $fs-1;
      }
    }
  }
}

// General Button Styles and Height Overrides

.btn {
  display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  user-select: none;
  overflow: hidden;   
  white-space: nowrap;
  transition: $btn-custom-transition;
  transform-origin: center;
  border-width: $input-btn-border-width;
  border-style: solid;
  transform: scale(1);
  
  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    $btn-font-size, 
    $btn-line-height,
    $btn-border-radius
  );

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;   
  }

  &:not(:disabled):not(.disabled) {    
    &:active,
    &.active {
      transform: scale(.92);
    }
  } 

  // Line height 1 breaks button height beyond 42px needed. 
  i {
    line-height: 0;
  }

  
  @include media-breakpoint-down(md) {
    max-height: 3rem;  
    height: 3rem;
    overflow: hidden;   
    white-space: nowrap;
  
    @include button-size (
      0.875rem,    //padding-y
      1.375rem,     //padding-x
      1.125rem!important,     // font-size
      1,            //line-height
      4px           // border-radius
    );  
  }
}

//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

//
// Link buttons
//

// Make a button look and behave like a link
.btn-link,
.btn-outline-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  text-decoration: $link-decoration;
  border: none;

  @include hover() {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  // No need for an active state here
}

//
// Button Sizes
//

.btn-lg {
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

.btn-sm {
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
}

//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

// Filter Tabs

.btn-filter-tabs {
  @include button-variant (
    $transparent-b,     //background
    $gray-1200,         //border
    $black-7,           //hover-background
    $gray-1200,         //hover-border
    $gray-1100,           //active-background
    $gray-1200           //active-border
    );      

  background-color: $transparent-b;
  color: $gray-1200;
  font-weight: $font-weight-normal;
  font-size: $fs-2!important;
  padding: $spacer / 2 12px!important;
  max-height: $spacer * 2!important;
       
  &.disabled,
  &:disabled {
    color: $gray-1200;
    background-color: $white;
    border-color: $gray-1200;
    pointer-events: none;
  }

  @include hover-focus {
    background-color: $black-7;
    border-color: $gray-1200;
    color: $gray-1200;
  }    
  
  @include active {
    color: $white;
    background-color: $gray-1100;
    transform: scale(1)!important;
  } 
}

// Color Selector White

.btn-color-selector-white {
  @include button-variant (
    $white,           //background
    $gray-300,          //border
    $white,           //hover-background
    $gray-300,         //hover-border
    $white,         //active-background
    $gray-1200          //active-border
    );      

  color: $transparent-b;
  font-weight: $font-weight-normal;  
  padding: $spacer / 4 !important;
  width: $spacer * 2 !important;
  height: $spacer * 2 !important;

  .ebf-check-mark {
    display: none;
    font-size: $fs-5;
  }
  .ebf-line-diag {
    display: none;
    font-size: $fs-5;
  }


  &:active,
  &.active,
  &[aria-pressed="true"] {
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
      color: $gray-1200;      
      transform: scale(1)!important;

      .ebf-check-mark {
        display: inline-block;
      }
    }
  }

  &.disabled,
  &:disabled {
    opacity: 1;
    padding: 0!important;
    color: $gray-1200;
    background-color: $white;
    border-color: $gray-300;

    .ebf-check-mark {
      display: none;
    }     

    .ebf-line-diag {
      display: inline-block;
    }    
  }
}

// Color Selector Light

.btn-color-selector-light {
  @include button-variant (
    $gray-300,           //background
    $gray-300,          //border
    $gray-300,           //hover-background
    $gray-300,         //hover-border
    $gray-300,         //active-background
    $gray-1200          //active-border
    );      

  color: $transparent-b;
  font-weight: $font-weight-normal;  
  padding: $spacer / 4 !important;
  width: $spacer * 2 !important;
  height: $spacer * 2 !important;

  .ebf-check-mark {
    display: none;
    font-size: $fs-5;
  }
  .ebf-line-diag {
    display: none;
    font-size: $fs-5;
  }


  &:active,
  &.active,
  &[aria-pressed="true"] {
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
      color: $gray-1200;      
      transform: scale(1)!important;

      .ebf-check-mark {
        display: inline-block;
      }
    }
  }

  &.disabled,
  &:disabled {
    opacity: 1;
    padding: 0!important;
    color: $gray-1200;
    background-color: $gray-300;
    border-color: $gray-300;

    .ebf-check-mark {
      display: none;
    }     

    .ebf-line-diag {
      display: inline-block;
    }    
  }
}

// Color Selector Dark

.btn-color-selector-dark {
  @include button-variant (
    $gray-1200,     //background
    $gray-1200,          //border
    $gray-1200,           //hover-background
    $gray-1200,         //hover-border
    $gray-1200,         //active-background
    $gray-1200          //active-border
    );      

  color: $transparent-w;
  font-weight: $font-weight-normal; 
  padding: $spacer / 4 !important;
  width: $spacer * 2 !important;
  height: $spacer * 2 !important;

  .ebf-check-mark {
    display: none;
    font-size: $fs-5;
  }
  .ebf-line-diag {
    display: none;
  }

  &:active,
  &.active,
  &[aria-pressed="true"] {
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
      color: $white;
      background-color: $gray-1200;
      transform: scale(1)!important;

      .ebf-check-mark {
        display: inline-block;
      }
    }
  }
  
  &.disabled,
  &:disabled {
    opacity: 1;
    padding: 0!important;
    color: $white;
    background-color: $gray-1200;
    border-color: $gray-1200;

    .ebf-check-mark {
      display: none;
    }     

    .ebf-line-diag {
      display: inline-block;
    }  
  }
}
