/* stylelint-disable max-nesting-depth, selector-max-compound-selectors */

.nav-ebf-progress-bar {
  height: $spacer * 5.5;
  max-height: $spacer * 5.5;
  padding: 1.25rem 0 1.75rem;
  background: $gray-100;

  &.navbar-dark {
    background: $black;

    .ebf-progress-bar {
      .progress {
        background-color: $gray-900;
      }

      .progress-bar-item-container {
        .progress-bar-item {
          .progress-dot {
            background: $gray-900;
          }

          &.active {
            @include hover {
              .progress-label {
                color: $primary;
              }
            }

            .progress-label {
              color: $white;
            }

            .progress-dot {
              background: $primary;
            }
          }

          &.current {
            .progress-label {
              &::after {
                background: $primary !important;
              }
            }
          }
        }
      }
    }
  }
}

.ebf-progress-bar {
  position: relative;
  margin: 0 auto;

  .progress {
    height: 2px;
    background-color: $gray-700;
  }

  .progress-bar-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .progress-bar-item {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 0;
      position: relative;
      top: $spacer/3;
      font-size: $font-size-sm;
      text-align: center;
      color: $black;
      pointer-events: none;
      z-index: 9;

      &:focus {
        outline: 0;
      }

      .progress-label {
        margin-bottom: $spacer * 1.5;
        line-height: 1;
        transition: $smooth-color-animation;
        font-weight: $theme-progress-label-fw;
        font-style: $theme-progress-label-font-style;
        text-transform: $theme-progress-text-transform;
        color: $theme-progress-color;

        &::after {
          content: '';
          width: $spacer;
          height: $spacer;
          border-radius: $spacer;
          display: block;
          position: absolute;
          bottom: -4px;
          left: -8px;
          z-index: -1 !important;
          background: $primary;
          opacity: 0.2;
          transform: scale(0);
          transform-origin: center;
          transition: $smooth-scaling-animation-dots;
        }
      }

      .progress-dot {
        align-self: flex-end;
        width: $spacer/2;
        height: $spacer/2;
        display: block;
        background: $gray-300;
        border-radius: $spacer;
        position: absolute;
        transform-origin: center;
        transform: scale(1);
        transition: $smooth-scaling-animation-dots;
      }

      &:hover {
        text-decoration: none;

        .progress-label {
          &::after {
            transform: scale(1.5);
          }
        }

        .progress-dot {
          transform: scale(1.5);
        }
      }

      &.active,
      &.completed {
        pointer-events: all;
        font-style: normal;

        .progress-label {
          color: $black;
          font-style: $font-style-normal;
        }

        .progress-dot {
          background: $primary;
        }

        &:hover {
          .progress-label {
            color: $primary;
            text-decoration: none;
          }
        }
      }

      &.current,
      &.selected {
        pointer-events: none;

        .progress-label {
          color: $black;

          &::after {
            transform: scale(1.25);
            animation: pulsate-animation 2.5s ease-in-out infinite both;
          }
        }

        .progress-dot {
          transform: scale(1.5);
        }

        &:hover {
          .progress-label {
            &::after {
              transform: scale(1.5) !important;
              opacity: 0.5 !important;
            }
          }
        }
      }
    }
  }
}

// Custom Progress Bar

.custom-progress-bar {
  height: 2.25rem;

  .progress {
    height: 1px;
    margin-top: -0.75rem;
    background-color: $gray-700;
  }

  .progress-bar-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: -0.75rem;

    .progress-bar-item {
      display: flex;
      align-items: center;
      width: auto;
      position: relative;
      top: $spacer/3;
      font-size: $fs-2;
      text-align: center;
      color: $white;
      pointer-events: none;
      z-index: 9;
      background-color: $gray-1200;
      padding: 0 1.5rem;

      &:last-of-type {
        padding-right: 0;
      }

      &:first-of-type {
        padding-left: 0;
      }

      &:focus {
        outline: 0;
      }

      .progress-label {         
        font-style: normal;
        color: $white;
        margin-left: 0.75rem;
      }

      .progress-dot {
        align-self: flex-start;
        width: 2.25rem;
        height: 2.25rem;
        line-height: 2.25rem;
        text-align: center;
        display: block;
        background-color: transparent;
        border-radius: 2.25rem;
        border-width: 1px;
        border-style: solid;
        border-color: $gray-700;
        color: $white;
        font-size: 1rem;
        font-weight: $font-weight-medium;
      }

      &.active {
        pointer-events: all;
        font-style: normal;

        .progress-label {
          font-style: $font-style-normal;
          font-weight: $font-weight-medium;
        }

        .progress-dot {
          background: $primary;
          border-color: $primary;
          font-weight: $font-weight-bold;
        }

        &:hover {
          .progress-label {
            color: $white;
            text-decoration: none;
          }
        }
      }

      &.completed {
        .progress-dot {
          background-color: $success;
          border-color: $success;
        }
      }

      &.current,
      &.selected {
        pointer-events: none;
      }
    }
  }
}
