//
// Tables
//
.table {
  thead {
    th {
      border-bottom: 0;
      padding: 1rem $table-cell-padding;
    }
  }
}

.table-cart {
  tr {
    border-bottom: 1px solid $gray-300;
  }

  th,
  td {
    vertical-align: middle;
    white-space: normal;
    border: 0;

    p {
      margin-bottom: 0;
    }
  }

  td {
    .input-group {
      flex-wrap: nowrap;

      .form-control {
        padding: 0.6875rem 1rem;
        max-width: 4rem;
        width: 4rem;
      }
    }

    img {
      height: 64px;
      width: auto;
      max-width: fit-content;
    }
  }
}

.z-shopping-cart {
  z-index: $zindex-shopping-cart;
}
