<DocsDemo as |demo|>
  <demo.example @name="hover-card.hbs">
    <div class="row">
      <div class="col-6">
        <Card class="card-primary" as |card|>      
          <div class="card-image">
            <img src="https://dummyimage.com/48x48/7c7c7c/ffffff.png" alt="Card"/>
          </div>   
          <card.title>
            Card with hover effect
          </card.title>
          <card.description>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          </card.description>
        </Card>
      </div>
      <div class="col-6">
        <Card class="card-secondary" as |card|>         
          <card.title>
            Card with hover effect
          </card.title>
          <card.description>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          </card.description>
        </Card>
      </div>      
    </div>
  </demo.example>

  {{demo.snippet "hover-card.hbs" label="Extra small loader"}}
</DocsDemo>