<DocsDemo as |demo|>
  <demo.example @name="hover-card.hbs">
    <div class="row">
      <div class="col-6">
        <Card class="h-100" as |card|>
          <card.icon @icon="ebf-device-smartphone" />
          <card.title>
            Card with hover effect
          </card.title>
          <card.description>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          </card.description>
        </Card>
        </div>
      <div class="col-6">
        <Card @effect={{true}} class="h-100" as |card|>
          <card.icon @icon="ebf-device-smartphone" />
          <card.title @title="Card with background effect" />
          <card.description @value="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor" />
        </Card>
      </div>
    </div>
  </demo.example>

  {{demo.snippet "hover-card.hbs" label="Extra small loader"}}
</DocsDemo>