<DocsDemo as |demo|>
  <demo.example @name="option-card.hbs">
    <div class="row">
      <div class="col-6">
        <Card::Option @selected={{true}} as |card|>
          <card.title>
            Selected card
          </card.title>
          <card.description>
            Some quick example text to build on the card title and make up the bulk of the card's content.
          </card.description>
        </Card::Option>
        </div>
      <div class="col-6">
        <Card::Option
          @title="Card option"
          @description="Some quick example text to build on the card title and make up the bulk of the card's content."
        />
      </div>
    </div>
  </demo.example>

  {{demo.snippet "option-card.hbs"}}
</DocsDemo>