<DocsDemo as |demo|>
  <demo.example @name="summary-card.hbs">
    <div class="row">
      <div class="col-6">
        <Card::Summary class="mb-4" as |card|>
          <card.item @label="Name" @value="Vladimir spasic" />
          <card.item @label="Email">
            <a href="mailto:vladimir.spasic@ebf.com">vladimir.spasic@ebf.com</a>
          </card.item>
          <card.item @label="Phone" @value="+49-175-5558-994" />
          <card.item @label="Profile" @value="001-3972834-2" />
        </Card::Summary>
      </div>
      <div class="col-12">
        <Card::Summary @horizontal={{true}} as |card|>
          <card.item @label="Name" @value="Vladimir spasic" />
          <card.item @label="Email">
            <a href="mailto:vladimir.spasic@ebf.com">vladimir.spasic@ebf.com</a>
          </card.item>
          <card.item @label="Phone" @value="+49-175-5558-994" />
          <card.item @label="Profile" @value="001-3972834-2" />
        </Card::Summary>
      </div>
    </div>
  </demo.example>

  {{demo.snippet "summary-card.hbs"}}
</DocsDemo>