<div class="my-3">
  <DocsDemo class="bg-white" as |demo|>
    <demo.example @name="ebg-alert">
      <BsAlert @type="primary" @dismissible={{false}}>
        Bootstrap alert
      </BsAlert>
    </demo.example>

    {{demo.snippet "ebg-alert"}}
  </DocsDemo>
</div>