<div class="my-3">
  <DocsDemo class="bg-white" as |demo|>
    <demo.example>
      <BsButton @type="primary">
        Primary button
      </BsButton>
    </demo.example>

    <DocsSnippet @name="ebf-alert.hbs">
      <BsButton @type="primary">
        Primary button
      </BsButton>
    </DocsSnippet>
  </DocsDemo>
</div>