<div class="my-4">
  <DocsDemo as |demo|>
    <demo.example @name="language-switcher-demo.hbs">
      <LanguageSwitcher />
    </demo.example>

    {{docs.snippet "language-switcher-demo.hbs"}}
  </DocsDemo>
</div>