<div class="brand" ...attributes>
  <div class="brand-logo">
    <img class="m-auto logo" width="32" height="32" src={{@logo}} alt={{@label}} title={{@label}} />
  </div>
  <div class="brand-label">{{uppercase @label}}</div>
</div>
