<div class="navbar navbar-brander d-flex justify-content-between" ...attributes>
  {{yield (hash
    image=(component "layout/header/brand-image")
    language-switcher=(component "language-switcher")
  )}}
</div>
