<DocsDemo as |demo|>
  <demo.example @name="form-controls.hbs"> 
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
      <label class="custom-control-label" for="customCheck">Check this custom checkbox</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" class="custom-control-input" id="customRadio4" name="example4" value="customEx">
      <label class="custom-control-label" for="customRadio4">Custom radio</label>
    </div>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
    </div>
  </demo.example>

  {{demo.snippet "form.controls.hbs"}}
</DocsDemo>