$ebf-alert: '\ea01';
$ebf-alert-fill: '\ea02';
$ebf-alert-wide: '\ea03';
$ebf-alert-wide-fill: '\ea04';
$ebf-apps: '\ea05';
$ebf-apps-fill: '\ea06';
$ebf-arr-corner-down-left: '\ea07';
$ebf-arr-corner-down-left-fill: '\ea08';
$ebf-arr-corner-down-right: '\ea09';
$ebf-arr-corner-down-right-fill: '\ea0a';
$ebf-arr-corner-left-down: '\ea0b';
$ebf-arr-corner-left-down-fill: '\ea0c';
$ebf-arr-corner-left-up: '\ea0d';
$ebf-arr-corner-left-up-fill: '\ea0e';
$ebf-arr-corner-right-down: '\ea0f';
$ebf-arr-corner-right-down-fill: '\ea10';
$ebf-arr-corner-right-up: '\ea11';
$ebf-arr-corner-right-up-fill: '\ea12';
$ebf-arr-corner-up-left: '\ea13';
$ebf-arr-corner-up-left-fill: '\ea14';
$ebf-arr-corner-up-right: '\ea15';
$ebf-arr-corner-up-right-fill: '\ea16';
$ebf-arr-down: '\ea17';
$ebf-arr-down-dots: '\ea18';
$ebf-arr-down-dots-fill: '\ea19';
$ebf-arr-down-fill: '\ea1a';
$ebf-arr-down-left: '\ea1b';
$ebf-arr-down-left-fill: '\ea1c';
$ebf-arr-down-right: '\ea1d';
$ebf-arr-down-right-fill: '\ea1e';
$ebf-arr-left: '\ea1f';
$ebf-arr-left-fill: '\ea20';
$ebf-arr-maximize: '\ea21';
$ebf-arr-maximize-fill: '\ea22';
$ebf-arr-minimize: '\ea23';
$ebf-arr-minimize-fill: '\ea24';
$ebf-arr-move: '\ea25';
$ebf-arr-move-fill: '\ea26';
$ebf-arr-right: '\ea27';
$ebf-arr-right-fill: '\ea28';
$ebf-arr-up: '\ea29';
$ebf-arr-up-dots: '\ea2a';
$ebf-arr-up-dots-fill: '\ea2b';
$ebf-arr-up-fill: '\ea2c';
$ebf-arr-up-left: '\ea2d';
$ebf-arr-up-left-fill: '\ea2e';
$ebf-arr-up-right: '\ea2f';
$ebf-arr-up-right-fill: '\ea30';
$ebf-art: '\ea31';
$ebf-art-fill: '\ea32';
$ebf-at-sign: '\ea33';
$ebf-at-sign-fill: '\ea34';
$ebf-audit-logs: '\ea35';
$ebf-audit-logs-fill: '\ea36';
$ebf-bar-chart-left: '\ea37';
$ebf-bar-chart-left-fill: '\ea38';
$ebf-bar-chart-right: '\ea39';
$ebf-bar-chart-right-fill: '\ea3a';
$ebf-bar-chart-square-left: '\ea3b';
$ebf-bar-chart-square-left-fill: '\ea3c';
$ebf-bar-chart-square-right: '\ea3d';
$ebf-bar-chart-square-right-fill: '\ea3e';
$ebf-bell: '\ea3f';
$ebf-bell-fill: '\ea40';
$ebf-bell-off: '\ea41';
$ebf-bell-off-fill: '\ea42';
$ebf-book: '\ea43';
$ebf-book-fill: '\ea44';
$ebf-bookmark: '\ea45';
$ebf-bookmark-fill: '\ea46';
$ebf-border: '\ea47';
$ebf-border-fill: '\ea48';
$ebf-box: '\ea49';
$ebf-box-fill: '\ea4a';
$ebf-brush-left: '\ea4b';
$ebf-brush-left-fill: '\ea4c';
$ebf-brush-right: '\ea4d';
$ebf-brush-right-fill: '\ea4e';
$ebf-burger: '\ea4f';
$ebf-burger-fill: '\ea50';
$ebf-camera: '\ea51';
$ebf-camera-fill: '\ea52';
$ebf-cancel: '\ea53';
$ebf-cancel-circle: '\ea54';
$ebf-cancel-circle-fill: '\ea55';
$ebf-cancel-fill: '\ea56';
$ebf-check-mark: '\ea57';
$ebf-check-mark-circle: '\ea58';
$ebf-check-mark-circle-fill: '\ea59';
$ebf-check-mark-circle-full: '\ea5a';
$ebf-check-mark-circle-full-fill: '\ea5b';
$ebf-check-mark-fill: '\ea5c';
$ebf-chevron-down: '\ea5d';
$ebf-chevron-down-fill: '\ea5e';
$ebf-chevron-left: '\ea5f';
$ebf-chevron-left-fill: '\ea60';
$ebf-chevron-right: '\ea61';
$ebf-chevron-right-fill: '\ea62';
$ebf-chevron-up: '\ea63';
$ebf-chevron-up-fill: '\ea64';
$ebf-chevrons-down: '\ea65';
$ebf-chevrons-down-fill: '\ea66';
$ebf-chevrons-left: '\ea67';
$ebf-chevrons-left-fill: '\ea68';
$ebf-chevrons-right: '\ea69';
$ebf-chevrons-right-fill: '\ea6a';
$ebf-chevrons-up: '\ea6b';
$ebf-chevrons-up-fill: '\ea6c';
$ebf-circle: '\ea6d';
$ebf-circle-fill: '\ea6e';
$ebf-clock: '\ea6f';
$ebf-clock-fill: '\ea70';
$ebf-code: '\ea71';
$ebf-code-fill: '\ea72';
$ebf-coffee: '\ea73';
$ebf-coffee-fill: '\ea74';
$ebf-coin-dollar-01: '\ea75';
$ebf-coin-dollar-01-fill: '\ea76';
$ebf-coin-dollar-02: '\ea77';
$ebf-coin-dollar-02-fill: '\ea78';
$ebf-compass: '\ea79';
$ebf-compass-fill: '\ea7a';
$ebf-complain-hammer: '\ea7b';
$ebf-complain-hammer-fill: '\ea7c';
$ebf-connection: '\ea7d';
$ebf-connection-fill: '\ea7e';
$ebf-copy: '\ea7f';
$ebf-copy-fill: '\ea80';
$ebf-create: '\ea81';
$ebf-create-fill: '\ea82';
$ebf-dashboard: '\ea83';
$ebf-dashboard-fill: '\ea84';
$ebf-data-pending: '\ea85';
$ebf-data-pending-fill: '\ea86';
$ebf-device-smartphone: '\ea87';
$ebf-device-smartphone-fill: '\ea88';
$ebf-device-smartphone-sync: '\ea89';
$ebf-device-smartphone-sync-fill: '\ea8a';
$ebf-dial: '\ea8b';
$ebf-dial-fill: '\ea8c';
$ebf-dots: '\ea8d';
$ebf-dots-fill: '\ea8e';
$ebf-download: '\ea8f';
$ebf-download-circle: '\ea90';
$ebf-download-circle-fill: '\ea91';
$ebf-download-cloud: '\ea92';
$ebf-download-cloud-fill: '\ea93';
$ebf-download-fill: '\ea94';
$ebf-download-square: '\ea95';
$ebf-download-square-fill: '\ea96';
$ebf-edit-01: '\ea97';
$ebf-edit-01-fill: '\ea98';
$ebf-edit-02: '\ea99';
$ebf-edit-02-fill: '\ea9a';
$ebf-edit-left: '\ea9b';
$ebf-edit-left-fill: '\ea9c';
$ebf-edit-right: '\ea9d';
$ebf-esim: '\ea9e';
$ebf-esim-fill: '\ea9f';
$ebf-eye: '\eaa0';
$ebf-eye-fill: '\eaa1';
$ebf-eye-off: '\eaa2';
$ebf-eye-off-fill: '\eaa3';
$ebf-file: '\eaa4';
$ebf-file-fill: '\eaa5';
$ebf-file-forward: '\eaa6';
$ebf-file-forward-fill: '\eaa7';
$ebf-file-sort: '\eaa8';
$ebf-file-sort-fill: '\eaa9';
$ebf-file-text: '\eaaa';
$ebf-file-text-fill: '\eaab';
$ebf-fileserver: '\eaac';
$ebf-fileserver-fill: '\eaad';
$ebf-flag: '\eaae';
$ebf-flag-fill: '\eaaf';
$ebf-folder: '\eab0';
$ebf-folder-add: '\eab1';
$ebf-folder-add-fill: '\eab2';
$ebf-folder-fill: '\eab3';
$ebf-folder-remove: '\eab4';
$ebf-folder-remove-fill: '\eab5';
$ebf-font: '\eab6';
$ebf-font-fill: '\eab7';
$ebf-font-strike: '\eab8';
$ebf-font-strike-fill: '\eab9';
$ebf-font-underline: '\eaba';
$ebf-font-underline-fill: '\eabb';
$ebf-globe: '\eabc';
$ebf-globe-fill: '\eabd';
$ebf-graph-01: '\eabe';
$ebf-graph-01-fill: '\eabf';
$ebf-graph-02: '\eac0';
$ebf-graph-02-fill: '\eac1';
$ebf-grid: '\eac2';
$ebf-grid-fill: '\eac3';
$ebf-grid-gap: '\eac4';
$ebf-grid-gap-fill: '\eac5';
$ebf-hand-move: '\eac6';
$ebf-hand-move-fill: '\eac7';
$ebf-handshake: '\eac8';
$ebf-handshake-fill: '\eac9';
$ebf-headphones: '\eaca';
$ebf-headphones-fill: '\eacb';
$ebf-heart: '\eacc';
$ebf-heart-fill: '\eacd';
$ebf-help-circle: '\eace';
$ebf-help-circle-fill: '\eacf';
$ebf-home: '\ead0';
$ebf-home-fill: '\ead1';
$ebf-inbox: '\ead2';
$ebf-inbox-fill: '\ead3';
$ebf-info: '\ead4';
$ebf-info-fill: '\ead5';
$ebf-key-left: '\ead6';
$ebf-key-left-fill: '\ead7';
$ebf-key-right: '\ead8';
$ebf-key-right-fill: '\ead9';
$ebf-line-diag: '\eada';
$ebf-line-diag-fill: '\eadb';
$ebf-line-horz: '\eadc';
$ebf-line-horz-fill: '\eadd';
$ebf-link-01: '\eade';
$ebf-link-01-fill: '\eadf';
$ebf-link-02: '\eae0';
$ebf-link-02-fill: '\eae1';
$ebf-link-03: '\eae2';
$ebf-link-03-fill: '\eae3';
$ebf-list: '\eae4';
$ebf-list-fill: '\eae5';
$ebf-loader: '\eae6';
$ebf-loader-fill: '\eae7';
$ebf-local-files: '\eae8';
$ebf-local-files-fill: '\eae9';
$ebf-locked: '\eaea';
$ebf-locked-fill: '\eaeb';
$ebf-log-in: '\eaec';
$ebf-log-in-fill: '\eaed';
$ebf-log-out: '\eaee';
$ebf-log-out-fill: '\eaef';
$ebf-maintenance: '\eaf0';
$ebf-maintenance-fill: '\eaf1';
$ebf-map: '\eaf2';
$ebf-map-fill: '\eaf3';
$ebf-map-pin: '\eaf4';
$ebf-map-pin-fill: '\eaf5';
$ebf-merge: '\eaf6';
$ebf-merge-fill: '\eaf7';
$ebf-minus: '\eaf8';
$ebf-minus-circle: '\eaf9';
$ebf-minus-circle-fill: '\eafa';
$ebf-minus-fill: '\eafb';
$ebf-minus-square: '\eafc';
$ebf-minus-square-fill: '\eafd';
$ebf-move: '\eafe';
$ebf-move-fill: '\eaff';
$ebf-ms-excel: '\eb00';
$ebf-ms-excel-fill: '\eb01';
$ebf-ms-onedrive: '\eb02';
$ebf-ms-onedrive-fill: '\eb03';
$ebf-ms-powerpoint: '\eb04';
$ebf-ms-powerpoint-fill: '\eb05';
$ebf-ms-sharepoint: '\eb06';
$ebf-ms-sharepoint-fill: '\eb07';
$ebf-ms-sharepoint-site: '\eb08';
$ebf-ms-sharepoint-site-fill: '\eb09';
$ebf-ms-word: '\eb0a';
$ebf-ms-word-fill: '\eb0b';
$ebf-navigation-down: '\eb0c';
$ebf-navigation-down-fill: '\eb0d';
$ebf-navigation-down-left: '\eb0e';
$ebf-navigation-down-left-fill: '\eb0f';
$ebf-navigation-down-right: '\eb10';
$ebf-navigation-down-right-fill: '\eb11';
$ebf-navigation-up: '\eb12';
$ebf-navigation-up-fill: '\eb13';
$ebf-navigation-up-left: '\eb14';
$ebf-navigation-up-left-fill: '\eb15';
$ebf-navigation-up-right: '\eb16';
$ebf-navigation-up-right-fill: '\eb17';
$ebf-note: '\eb18';
$ebf-note-fill: '\eb19';
$ebf-open-new-app: '\eb1a';
$ebf-open-new-app-fill: '\eb1b';
$ebf-organization: '\eb1c';
$ebf-organization-fill: '\eb1d';
$ebf-pen-left-down: '\eb1e';
$ebf-pen-left-down-fill: '\eb1f';
$ebf-pen-left-up: '\eb20';
$ebf-pen-left-up-fill: '\eb21';
$ebf-pen-right-down: '\eb22';
$ebf-pen-right-down-fill: '\eb23';
$ebf-pen-right-up: '\eb24';
$ebf-pen-right-up-fill: '\eb25';
$ebf-pending: '\eb26';
$ebf-pending-fill: '\eb27';
$ebf-photo: '\eb28';
$ebf-photo-fill: '\eb29';
$ebf-plane-arrival: '\eb2a';
$ebf-plane-arrival-fill: '\eb2b';
$ebf-plane-departure: '\eb2c';
$ebf-plane-departure-fill: '\eb2d';
$ebf-play: '\eb2e';
$ebf-play-fill: '\eb2f';
$ebf-plus: '\eb30';
$ebf-plus-circle: '\eb31';
$ebf-plus-circle-fill: '\eb32';
$ebf-plus-fill: '\eb33';
$ebf-plus-square: '\eb34';
$ebf-plus-square-fill: '\eb35';
$ebf-rectangle: '\eb36';
$ebf-rectangle-fill: '\eb37';
$ebf-remove-device: '\eb38';
$ebf-remove-device-fill: '\eb39';
$ebf-rename: '\eb3a';
$ebf-rename-fill: '\eb3b';
$ebf-s-directory: '\eb3c';
$ebf-s-directory-fill: '\eb3d';
$ebf-save: '\eb3e';
$ebf-save-fill: '\eb3f';
$ebf-scales: '\eb40';
$ebf-scales-fill: '\eb41';
$ebf-screen-protect: '\eb42';
$ebf-screen-protect-fill: '\eb43';
$ebf-search-l: '\eb44';
$ebf-search-l-fill: '\eb45';
$ebf-search-s: '\eb46';
$ebf-search-s-fill: '\eb47';
$ebf-send: '\eb48';
$ebf-send-fill: '\eb49';
$ebf-settings: '\eb4a';
$ebf-settings-fill: '\eb4b';
$ebf-share: '\eb4c';
$ebf-share-fill: '\eb4d';
$ebf-shopping-bag: '\eb4e';
$ebf-shopping-bag-fill: '\eb4f';
$ebf-signature: '\eb50';
$ebf-signature-fill: '\eb51';
$ebf-sim: '\eb52';
$ebf-sim-fill: '\eb53';
$ebf-sort-by-date: '\eb54';
$ebf-sort-by-date-fill: '\eb55';
$ebf-sort-by-name: '\eb56';
$ebf-sort-by-name-fill: '\eb57';
$ebf-sort-by-size: '\eb58';
$ebf-sort-by-size-fill: '\eb59';
$ebf-sort-by-type: '\eb5a';
$ebf-sort-by-type-fill: '\eb5b';
$ebf-star: '\eb5c';
$ebf-star-fill: '\eb5d';
$ebf-support: '\eb5e';
$ebf-support-fill: '\eb5f';
$ebf-synch: '\eb60';
$ebf-synch-circle: '\eb61';
$ebf-synch-fill: '\eb62';
$ebf-tag: '\eb63';
$ebf-tag-fill: '\eb64';
$ebf-text: '\eb65';
$ebf-text-fill: '\eb66';
$ebf-tie: '\eb67';
$ebf-tie-fill: '\eb68';
$ebf-trash: '\eb69';
$ebf-trash-fill: '\eb6a';
$ebf-unlocked: '\eb6b';
$ebf-unlocked-fill: '\eb6c';
$ebf-upload: '\eb6d';
$ebf-upload-circle: '\eb6e';
$ebf-upload-circle-fill: '\eb6f';
$ebf-upload-cloud: '\eb70';
$ebf-upload-cloud-fill: '\eb71';
$ebf-upload-fill: '\eb72';
$ebf-upload-fill-1: '\eb73';
$ebf-upload-square: '\eb74';
$ebf-upload-square-fill: '\eb75';
$ebf-user: '\eb76';
$ebf-user-add: '\eb77';
$ebf-user-add-fill: '\eb78';
$ebf-user-check: '\eb79';
$ebf-user-check-fill: '\eb7a';
$ebf-user-delete: '\eb7b';
$ebf-user-delete-fill: '\eb7c';
$ebf-user-fill: '\eb7d';
$ebf-user-remove: '\eb7e';
$ebf-user-remove-fill: '\eb7f';
$ebf-voicemail: '\eb80';
$ebf-voicemail-fill: '\eb81';

$ebf-font-location: '../ebf-design-system/fonts/telekom-iconset' !default;

@font-face {
  font-family: 'telekom-iconset';
  src: url('#{$ebf-font-location}/telekom-iconset.eot');
  src: url('#{$ebf-font-location}/telekom-iconset.eot') format('embedded-opentype'),
    url('#{$ebf-font-location}/telekom-iconset.woff2') format('woff2'),
    url('#{$ebf-font-location}/telekom-iconset.woff') format('woff'),
    url('#{$ebf-font-location}/telekom-iconset.ttf') format('truetype'),
    url('#{$ebf-font-location}/telekom-iconset.svg') format('svg');
  font-style: normal;
  font-weight: 400;
}

%ebf {
  display: inline-block;
  font-family: 'telekom-iconset' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  vertical-align: -0.125em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ebf {
  @extend %ebf;
}

.ebf-alert::before {
  content: '\ea01';
}

.ebf-alert-fill::before {
  content: '\ea02';
}

.ebf-alert-wide::before {
  content: '\ea03';
}

.ebf-alert-wide-fill::before {
  content: '\ea04';
}

.ebf-apps::before {
  content: '\ea05';
}

.ebf-apps-fill::before {
  content: '\ea06';
}

.ebf-arr-corner-down-left::before {
  content: '\ea07';
}

.ebf-arr-corner-down-left-fill::before {
  content: '\ea08';
}

.ebf-arr-corner-down-right::before {
  content: '\ea09';
}

.ebf-arr-corner-down-right-fill::before {
  content: '\ea0a';
}

.ebf-arr-corner-left-down::before {
  content: '\ea0b';
}

.ebf-arr-corner-left-down-fill::before {
  content: '\ea0c';
}

.ebf-arr-corner-left-up::before {
  content: '\ea0d';
}

.ebf-arr-corner-left-up-fill::before {
  content: '\ea0e';
}

.ebf-arr-corner-right-down::before {
  content: '\ea0f';
}

.ebf-arr-corner-right-down-fill::before {
  content: '\ea10';
}

.ebf-arr-corner-right-up::before {
  content: '\ea11';
}

.ebf-arr-corner-right-up-fill::before {
  content: '\ea12';
}

.ebf-arr-corner-up-left::before {
  content: '\ea13';
}

.ebf-arr-corner-up-left-fill::before {
  content: '\ea14';
}

.ebf-arr-corner-up-right::before {
  content: '\ea15';
}

.ebf-arr-corner-up-right-fill::before {
  content: '\ea16';
}

.ebf-arr-down::before {
  content: '\ea17';
}

.ebf-arr-down-dots::before {
  content: '\ea18';
}

.ebf-arr-down-dots-fill::before {
  content: '\ea19';
}

.ebf-arr-down-fill::before {
  content: '\ea1a';
}

.ebf-arr-down-left::before {
  content: '\ea1b';
}

.ebf-arr-down-left-fill::before {
  content: '\ea1c';
}

.ebf-arr-down-right::before {
  content: '\ea1d';
}

.ebf-arr-down-right-fill::before {
  content: '\ea1e';
}

.ebf-arr-left::before {
  content: '\ea1f';
}

.ebf-arr-left-fill::before {
  content: '\ea20';
}

.ebf-arr-maximize::before {
  content: '\ea21';
}

.ebf-arr-maximize-fill::before {
  content: '\ea22';
}

.ebf-arr-minimize::before {
  content: '\ea23';
}

.ebf-arr-minimize-fill::before {
  content: '\ea24';
}

.ebf-arr-move::before {
  content: '\ea25';
}

.ebf-arr-move-fill::before {
  content: '\ea26';
}

.ebf-arr-right::before {
  content: '\ea27';
}

.ebf-arr-right-fill::before {
  content: '\ea28';
}

.ebf-arr-up::before {
  content: '\ea29';
}

.ebf-arr-up-dots::before {
  content: '\ea2a';
}

.ebf-arr-up-dots-fill::before {
  content: '\ea2b';
}

.ebf-arr-up-fill::before {
  content: '\ea2c';
}

.ebf-arr-up-left::before {
  content: '\ea2d';
}

.ebf-arr-up-left-fill::before {
  content: '\ea2e';
}

.ebf-arr-up-right::before {
  content: '\ea2f';
}

.ebf-arr-up-right-fill::before {
  content: '\ea30';
}

.ebf-art::before {
  content: '\ea31';
}

.ebf-art-fill::before {
  content: '\ea32';
}

.ebf-at-sign::before {
  content: '\ea33';
}

.ebf-at-sign-fill::before {
  content: '\ea34';
}

.ebf-audit-logs::before {
  content: '\ea35';
}

.ebf-audit-logs-fill::before {
  content: '\ea36';
}

.ebf-bar-chart-left::before {
  content: '\ea37';
}

.ebf-bar-chart-left-fill::before {
  content: '\ea38';
}

.ebf-bar-chart-right::before {
  content: '\ea39';
}

.ebf-bar-chart-right-fill::before {
  content: '\ea3a';
}

.ebf-bar-chart-square-left::before {
  content: '\ea3b';
}

.ebf-bar-chart-square-left-fill::before {
  content: '\ea3c';
}

.ebf-bar-chart-square-right::before {
  content: '\ea3d';
}

.ebf-bar-chart-square-right-fill::before {
  content: '\ea3e';
}

.ebf-bell::before {
  content: '\ea3f';
}

.ebf-bell-fill::before {
  content: '\ea40';
}

.ebf-bell-off::before {
  content: '\ea41';
}

.ebf-bell-off-fill::before {
  content: '\ea42';
}

.ebf-book::before {
  content: '\ea43';
}

.ebf-book-fill::before {
  content: '\ea44';
}

.ebf-bookmark::before {
  content: '\ea45';
}

.ebf-bookmark-fill::before {
  content: '\ea46';
}

.ebf-border::before {
  content: '\ea47';
}

.ebf-border-fill::before {
  content: '\ea48';
}

.ebf-box::before {
  content: '\ea49';
}

.ebf-box-fill::before {
  content: '\ea4a';
}

.ebf-brush-left::before {
  content: '\ea4b';
}

.ebf-brush-left-fill::before {
  content: '\ea4c';
}

.ebf-brush-right::before {
  content: '\ea4d';
}

.ebf-brush-right-fill::before {
  content: '\ea4e';
}

.ebf-burger::before {
  content: '\ea4f';
}

.ebf-burger-fill::before {
  content: '\ea50';
}

.ebf-camera::before {
  content: '\ea51';
}

.ebf-camera-fill::before {
  content: '\ea52';
}

.ebf-cancel::before {
  content: '\ea53';
}

.ebf-cancel-circle::before {
  content: '\ea54';
}

.ebf-cancel-circle-fill::before {
  content: '\ea55';
}

.ebf-cancel-fill::before {
  content: '\ea56';
}

.ebf-check-mark::before {
  content: '\ea57';
}

.ebf-check-mark-circle::before {
  content: '\ea58';
}

.ebf-check-mark-circle-fill::before {
  content: '\ea59';
}

.ebf-check-mark-circle-full::before {
  content: '\ea5a';
}

.ebf-check-mark-circle-full-fill::before {
  content: '\ea5b';
}

.ebf-check-mark-fill::before {
  content: '\ea5c';
}

.ebf-chevron-down::before {
  content: '\ea5d';
}

.ebf-chevron-down-fill::before {
  content: '\ea5e';
}

.ebf-chevron-left::before {
  content: '\ea5f';
}

.ebf-chevron-left-fill::before {
  content: '\ea60';
}

.ebf-chevron-right::before {
  content: '\ea61';
}

.ebf-chevron-right-fill::before {
  content: '\ea62';
}

.ebf-chevron-up::before {
  content: '\ea63';
}

.ebf-chevron-up-fill::before {
  content: '\ea64';
}

.ebf-chevrons-down::before {
  content: '\ea65';
}

.ebf-chevrons-down-fill::before {
  content: '\ea66';
}

.ebf-chevrons-left::before {
  content: '\ea67';
}

.ebf-chevrons-left-fill::before {
  content: '\ea68';
}

.ebf-chevrons-right::before {
  content: '\ea69';
}

.ebf-chevrons-right-fill::before {
  content: '\ea6a';
}

.ebf-chevrons-up::before {
  content: '\ea6b';
}

.ebf-chevrons-up-fill::before {
  content: '\ea6c';
}

.ebf-circle::before {
  content: '\ea6d';
}

.ebf-circle-fill::before {
  content: '\ea6e';
}

.ebf-clock::before {
  content: '\ea6f';
}

.ebf-clock-fill::before {
  content: '\ea70';
}

.ebf-code::before {
  content: '\ea71';
}

.ebf-code-fill::before {
  content: '\ea72';
}

.ebf-coffee::before {
  content: '\ea73';
}

.ebf-coffee-fill::before {
  content: '\ea74';
}

.ebf-coin-dollar-01::before {
  content: '\ea75';
}

.ebf-coin-dollar-01-fill::before {
  content: '\ea76';
}

.ebf-coin-dollar-02::before {
  content: '\ea77';
}

.ebf-coin-dollar-02-fill::before {
  content: '\ea78';
}

.ebf-compass::before {
  content: '\ea79';
}

.ebf-compass-fill::before {
  content: '\ea7a';
}

.ebf-complain-hammer::before {
  content: '\ea7b';
}

.ebf-complain-hammer-fill::before {
  content: '\ea7c';
}

.ebf-connection::before {
  content: '\ea7d';
}

.ebf-connection-fill::before {
  content: '\ea7e';
}

.ebf-copy::before {
  content: '\ea7f';
}

.ebf-copy-fill::before {
  content: '\ea80';
}

.ebf-create::before {
  content: '\ea81';
}

.ebf-create-fill::before {
  content: '\ea82';
}

.ebf-dashboard::before {
  content: '\ea83';
}

.ebf-dashboard-fill::before {
  content: '\ea84';
}

.ebf-data-pending::before {
  content: '\ea85';
}

.ebf-data-pending-fill::before {
  content: '\ea86';
}

.ebf-device-smartphone::before {
  content: '\ea87';
}

.ebf-device-smartphone-fill::before {
  content: '\ea88';
}

.ebf-device-smartphone-sync::before {
  content: '\ea89';
}

.ebf-device-smartphone-sync-fill::before {
  content: '\ea8a';
}

.ebf-dial::before {
  content: '\ea8b';
}

.ebf-dial-fill::before {
  content: '\ea8c';
}

.ebf-dots::before {
  content: '\ea8d';
}

.ebf-dots-fill::before {
  content: '\ea8e';
}

.ebf-download::before {
  content: '\ea8f';
}

.ebf-download-circle::before {
  content: '\ea90';
}

.ebf-download-circle-fill::before {
  content: '\ea91';
}

.ebf-download-cloud::before {
  content: '\ea92';
}

.ebf-download-cloud-fill::before {
  content: '\ea93';
}

.ebf-download-fill::before {
  content: '\ea94';
}

.ebf-download-square::before {
  content: '\ea95';
}

.ebf-download-square-fill::before {
  content: '\ea96';
}

.ebf-edit-01::before {
  content: '\ea97';
}

.ebf-edit-01-fill::before {
  content: '\ea98';
}

.ebf-edit-02::before {
  content: '\ea99';
}

.ebf-edit-02-fill::before {
  content: '\ea9a';
}

.ebf-edit-left::before {
  content: '\ea9b';
}

.ebf-edit-left-fill::before {
  content: '\ea9c';
}

.ebf-edit-right::before {
  content: '\ea9d';
}

.ebf-esim::before {
  content: '\ea9e';
}

.ebf-esim-fill::before {
  content: '\ea9f';
}

.ebf-eye::before {
  content: '\eaa0';
}

.ebf-eye-fill::before {
  content: '\eaa1';
}

.ebf-eye-off::before {
  content: '\eaa2';
}

.ebf-eye-off-fill::before {
  content: '\eaa3';
}

.ebf-file::before {
  content: '\eaa4';
}

.ebf-file-fill::before {
  content: '\eaa5';
}

.ebf-file-forward::before {
  content: '\eaa6';
}

.ebf-file-forward-fill::before {
  content: '\eaa7';
}

.ebf-file-sort::before {
  content: '\eaa8';
}

.ebf-file-sort-fill::before {
  content: '\eaa9';
}

.ebf-file-text::before {
  content: '\eaaa';
}

.ebf-file-text-fill::before {
  content: '\eaab';
}

.ebf-fileserver::before {
  content: '\eaac';
}

.ebf-fileserver-fill::before {
  content: '\eaad';
}

.ebf-flag::before {
  content: '\eaae';
}

.ebf-flag-fill::before {
  content: '\eaaf';
}

.ebf-folder::before {
  content: '\eab0';
}

.ebf-folder-add::before {
  content: '\eab1';
}

.ebf-folder-add-fill::before {
  content: '\eab2';
}

.ebf-folder-fill::before {
  content: '\eab3';
}

.ebf-folder-remove::before {
  content: '\eab4';
}

.ebf-folder-remove-fill::before {
  content: '\eab5';
}

.ebf-font::before {
  content: '\eab6';
}

.ebf-font-fill::before {
  content: '\eab7';
}

.ebf-font-strike::before {
  content: '\eab8';
}

.ebf-font-strike-fill::before {
  content: '\eab9';
}

.ebf-font-underline::before {
  content: '\eaba';
}

.ebf-font-underline-fill::before {
  content: '\eabb';
}

.ebf-globe::before {
  content: '\eabc';
}

.ebf-globe-fill::before {
  content: '\eabd';
}

.ebf-graph-01::before {
  content: '\eabe';
}

.ebf-graph-01-fill::before {
  content: '\eabf';
}

.ebf-graph-02::before {
  content: '\eac0';
}

.ebf-graph-02-fill::before {
  content: '\eac1';
}

.ebf-grid::before {
  content: '\eac2';
}

.ebf-grid-fill::before {
  content: '\eac3';
}

.ebf-grid-gap::before {
  content: '\eac4';
}

.ebf-grid-gap-fill::before {
  content: '\eac5';
}

.ebf-hand-move::before {
  content: '\eac6';
}

.ebf-hand-move-fill::before {
  content: '\eac7';
}

.ebf-handshake::before {
  content: '\eac8';
}

.ebf-handshake-fill::before {
  content: '\eac9';
}

.ebf-headphones::before {
  content: '\eaca';
}

.ebf-headphones-fill::before {
  content: '\eacb';
}

.ebf-heart::before {
  content: '\eacc';
}

.ebf-heart-fill::before {
  content: '\eacd';
}

.ebf-help-circle::before {
  content: '\eace';
}

.ebf-help-circle-fill::before {
  content: '\eacf';
}

.ebf-home::before {
  content: '\ead0';
}

.ebf-home-fill::before {
  content: '\ead1';
}

.ebf-inbox::before {
  content: '\ead2';
}

.ebf-inbox-fill::before {
  content: '\ead3';
}

.ebf-info::before {
  content: '\ead4';
}

.ebf-info-fill::before {
  content: '\ead5';
}

.ebf-key-left::before {
  content: '\ead6';
}

.ebf-key-left-fill::before {
  content: '\ead7';
}

.ebf-key-right::before {
  content: '\ead8';
}

.ebf-key-right-fill::before {
  content: '\ead9';
}

.ebf-line-diag::before {
  content: '\eada';
}

.ebf-line-diag-fill::before {
  content: '\eadb';
}

.ebf-line-horz::before {
  content: '\eadc';
}

.ebf-line-horz-fill::before {
  content: '\eadd';
}

.ebf-link-01::before {
  content: '\eade';
}

.ebf-link-01-fill::before {
  content: '\eadf';
}

.ebf-link-02::before {
  content: '\eae0';
}

.ebf-link-02-fill::before {
  content: '\eae1';
}

.ebf-link-03::before {
  content: '\eae2';
}

.ebf-link-03-fill::before {
  content: '\eae3';
}

.ebf-list::before {
  content: '\eae4';
}

.ebf-list-fill::before {
  content: '\eae5';
}

.ebf-loader::before {
  content: '\eae6';
}

.ebf-loader-fill::before {
  content: '\eae7';
}

.ebf-local-files::before {
  content: '\eae8';
}

.ebf-local-files-fill::before {
  content: '\eae9';
}

.ebf-locked::before {
  content: '\eaea';
}

.ebf-locked-fill::before {
  content: '\eaeb';
}

.ebf-log-in::before {
  content: '\eaec';
}

.ebf-log-in-fill::before {
  content: '\eaed';
}

.ebf-log-out::before {
  content: '\eaee';
}

.ebf-log-out-fill::before {
  content: '\eaef';
}

.ebf-maintenance::before {
  content: '\eaf0';
}

.ebf-maintenance-fill::before {
  content: '\eaf1';
}

.ebf-map::before {
  content: '\eaf2';
}

.ebf-map-fill::before {
  content: '\eaf3';
}

.ebf-map-pin::before {
  content: '\eaf4';
}

.ebf-map-pin-fill::before {
  content: '\eaf5';
}

.ebf-merge::before {
  content: '\eaf6';
}

.ebf-merge-fill::before {
  content: '\eaf7';
}

.ebf-minus::before {
  content: '\eaf8';
}

.ebf-minus-circle::before {
  content: '\eaf9';
}

.ebf-minus-circle-fill::before {
  content: '\eafa';
}

.ebf-minus-fill::before {
  content: '\eafb';
}

.ebf-minus-square::before {
  content: '\eafc';
}

.ebf-minus-square-fill::before {
  content: '\eafd';
}

.ebf-move::before {
  content: '\eafe';
}

.ebf-move-fill::before {
  content: '\eaff';
}

.ebf-ms-excel::before {
  content: '\eb00';
}

.ebf-ms-excel-fill::before {
  content: '\eb01';
}

.ebf-ms-onedrive::before {
  content: '\eb02';
}

.ebf-ms-onedrive-fill::before {
  content: '\eb03';
}

.ebf-ms-powerpoint::before {
  content: '\eb04';
}

.ebf-ms-powerpoint-fill::before {
  content: '\eb05';
}

.ebf-ms-sharepoint::before {
  content: '\eb06';
}

.ebf-ms-sharepoint-fill::before {
  content: '\eb07';
}

.ebf-ms-sharepoint-site::before {
  content: '\eb08';
}

.ebf-ms-sharepoint-site-fill::before {
  content: '\eb09';
}

.ebf-ms-word::before {
  content: '\eb0a';
}

.ebf-ms-word-fill::before {
  content: '\eb0b';
}

.ebf-navigation-down::before {
  content: '\eb0c';
}

.ebf-navigation-down-fill::before {
  content: '\eb0d';
}

.ebf-navigation-down-left::before {
  content: '\eb0e';
}

.ebf-navigation-down-left-fill::before {
  content: '\eb0f';
}

.ebf-navigation-down-right::before {
  content: '\eb10';
}

.ebf-navigation-down-right-fill::before {
  content: '\eb11';
}

.ebf-navigation-up::before {
  content: '\eb12';
}

.ebf-navigation-up-fill::before {
  content: '\eb13';
}

.ebf-navigation-up-left::before {
  content: '\eb14';
}

.ebf-navigation-up-left-fill::before {
  content: '\eb15';
}

.ebf-navigation-up-right::before {
  content: '\eb16';
}

.ebf-navigation-up-right-fill::before {
  content: '\eb17';
}

.ebf-note::before {
  content: '\eb18';
}

.ebf-note-fill::before {
  content: '\eb19';
}

.ebf-open-new-app::before {
  content: '\eb1a';
}

.ebf-open-new-app-fill::before {
  content: '\eb1b';
}

.ebf-organization::before {
  content: '\eb1c';
}

.ebf-organization-fill::before {
  content: '\eb1d';
}

.ebf-pen-left-down::before {
  content: '\eb1e';
}

.ebf-pen-left-down-fill::before {
  content: '\eb1f';
}

.ebf-pen-left-up::before {
  content: '\eb20';
}

.ebf-pen-left-up-fill::before {
  content: '\eb21';
}

.ebf-pen-right-down::before {
  content: '\eb22';
}

.ebf-pen-right-down-fill::before {
  content: '\eb23';
}

.ebf-pen-right-up::before {
  content: '\eb24';
}

.ebf-pen-right-up-fill::before {
  content: '\eb25';
}

.ebf-pending::before {
  content: '\eb26';
}

.ebf-pending-fill::before {
  content: '\eb27';
}

.ebf-photo::before {
  content: '\eb28';
}

.ebf-photo-fill::before {
  content: '\eb29';
}

.ebf-plane-arrival::before {
  content: '\eb2a';
}

.ebf-plane-arrival-fill::before {
  content: '\eb2b';
}

.ebf-plane-departure::before {
  content: '\eb2c';
}

.ebf-plane-departure-fill::before {
  content: '\eb2d';
}

.ebf-play::before {
  content: '\eb2e';
}

.ebf-play-fill::before {
  content: '\eb2f';
}

.ebf-plus::before {
  content: '\eb30';
}

.ebf-plus-circle::before {
  content: '\eb31';
}

.ebf-plus-circle-fill::before {
  content: '\eb32';
}

.ebf-plus-fill::before {
  content: '\eb33';
}

.ebf-plus-square::before {
  content: '\eb34';
}

.ebf-plus-square-fill::before {
  content: '\eb35';
}

.ebf-rectangle::before {
  content: '\eb36';
}

.ebf-rectangle-fill::before {
  content: '\eb37';
}

.ebf-remove-device::before {
  content: '\eb38';
}

.ebf-remove-device-fill::before {
  content: '\eb39';
}

.ebf-rename::before {
  content: '\eb3a';
}

.ebf-rename-fill::before {
  content: '\eb3b';
}

.ebf-s-directory::before {
  content: '\eb3c';
}

.ebf-s-directory-fill::before {
  content: '\eb3d';
}

.ebf-save::before {
  content: '\eb3e';
}

.ebf-save-fill::before {
  content: '\eb3f';
}

.ebf-scales::before {
  content: '\eb40';
}

.ebf-scales-fill::before {
  content: '\eb41';
}

.ebf-screen-protect::before {
  content: '\eb42';
}

.ebf-screen-protect-fill::before {
  content: '\eb43';
}

.ebf-search-l::before {
  content: '\eb44';
}

.ebf-search-l-fill::before {
  content: '\eb45';
}

.ebf-search-s::before {
  content: '\eb46';
}

.ebf-search-s-fill::before {
  content: '\eb47';
}

.ebf-send::before {
  content: '\eb48';
}

.ebf-send-fill::before {
  content: '\eb49';
}

.ebf-settings::before {
  content: '\eb4a';
}

.ebf-settings-fill::before {
  content: '\eb4b';
}

.ebf-share::before {
  content: '\eb4c';
}

.ebf-share-fill::before {
  content: '\eb4d';
}

.ebf-shopping-bag::before {
  content: '\eb4e';
}

.ebf-shopping-bag-fill::before {
  content: '\eb4f';
}

.ebf-signature::before {
  content: '\eb50';
}

.ebf-signature-fill::before {
  content: '\eb51';
}

.ebf-sim::before {
  content: '\eb52';
}

.ebf-sim-fill::before {
  content: '\eb53';
}

.ebf-sort-by-date::before {
  content: '\eb54';
}

.ebf-sort-by-date-fill::before {
  content: '\eb55';
}

.ebf-sort-by-name::before {
  content: '\eb56';
}

.ebf-sort-by-name-fill::before {
  content: '\eb57';
}

.ebf-sort-by-size::before {
  content: '\eb58';
}

.ebf-sort-by-size-fill::before {
  content: '\eb59';
}

.ebf-sort-by-type::before {
  content: '\eb5a';
}

.ebf-sort-by-type-fill::before {
  content: '\eb5b';
}

.ebf-star::before {
  content: '\eb5c';
}

.ebf-star-fill::before {
  content: '\eb5d';
}

.ebf-support::before {
  content: '\eb5e';
}

.ebf-support-fill::before {
  content: '\eb5f';
}

.ebf-synch::before {
  content: '\eb60';
}

.ebf-synch-circle::before {
  content: '\eb61';
}

.ebf-synch-fill::before {
  content: '\eb62';
}

.ebf-tag::before {
  content: '\eb63';
}

.ebf-tag-fill::before {
  content: '\eb64';
}

.ebf-text::before {
  content: '\eb65';
}

.ebf-text-fill::before {
  content: '\eb66';
}

.ebf-tie::before {
  content: '\eb67';
}

.ebf-tie-fill::before {
  content: '\eb68';
}

.ebf-trash::before {
  content: '\eb69';
}

.ebf-trash-fill::before {
  content: '\eb6a';
}

.ebf-unlocked::before {
  content: '\eb6b';
}

.ebf-unlocked-fill::before {
  content: '\eb6c';
}

.ebf-upload::before {
  content: '\eb6d';
}

.ebf-upload-circle::before {
  content: '\eb6e';
}

.ebf-upload-circle-fill::before {
  content: '\eb6f';
}

.ebf-upload-cloud::before {
  content: '\eb70';
}

.ebf-upload-cloud-fill::before {
  content: '\eb71';
}

.ebf-upload-fill::before {
  content: '\eb72';
}

.ebf-upload-fill-1::before {
  content: '\eb73';
}

.ebf-upload-square::before {
  content: '\eb74';
}

.ebf-upload-square-fill::before {
  content: '\eb75';
}

.ebf-user::before {
  content: '\eb76';
}

.ebf-user-add::before {
  content: '\eb77';
}

.ebf-user-add-fill::before {
  content: '\eb78';
}

.ebf-user-check::before {
  content: '\eb79';
}

.ebf-user-check-fill::before {
  content: '\eb7a';
}

.ebf-user-delete::before {
  content: '\eb7b';
}

.ebf-user-delete-fill::before {
  content: '\eb7c';
}

.ebf-user-fill::before {
  content: '\eb7d';
}

.ebf-user-remove::before {
  content: '\eb7e';
}

.ebf-user-remove-fill::before {
  content: '\eb7f';
}

.ebf-voicemail::before {
  content: '\eb80';
}

.ebf-voicemail-fill::before {
  content: '\eb81';
}
