<main class="d-flex flex-column min-vh-100" ...attributes>
  {{yield (hash
    header=(component "layout/header")
    headline=(component "layout/headline")
    footer=(component "layout/footer")
    wizard=(component "layout/wizard")
  )}}
</main>

<EmberNotify
  @messageStyle="bootstrap"
  @closeAfter={{8000}}
/>
