{{!-- template-lint-disable  --}}
<div class="sticky-top shadow-sm bg-dark border-top-primary py-4">
  <div class="container">
    <div class="d-flex justify-content-center justify-content-md-between align-content-center mb-6">
      <p class="text-white mb-0 fs-4">Neues Angebot erstellen</p>
      <LinkTo @route="examples.dashboard" class="text-white text-decoration-none d-none d-md-flex">
        Abbrechen <Icon::Ebf @icon="ebf-cancel ml-2" />
      </LinkTo>
    </div>
    <div class="custom-progress-bar">
      <div class="progress-bar-item-container">
        <a href="" class="progress-bar-item active current">
          <span class="progress-dot">1</span>
          <span class="progress-label">Angebotsname</span>
        </a>     
        <a href="" class="progress-bar-item">
          <span class="progress-dot">2</span>
          <span class="progress-label">Kunde auswählen</span>
        </a>
        <a href="" class="progress-bar-item">
          <span class="progress-dot">3</span>
          <span class="progress-label">Produkte auswählen</span>
        </a>        
        <a href="" class="progress-bar-item">
          <span class="progress-dot">4</span>
          <span class="progress-label">Überblick</span>
        </a>        
      </div>
      <div class="progress">
        <div
          role="progressbar"
          class="progress-bar bg-primary"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 0%;">
        </div>
      </div>
    </div>
    <LinkTo @route="examples.dashboard" class="btn btn-outline-white d-block d-md-none mt-9">
      <Icon::Ebf @icon="ebf-cancel mr-2" />Abbrechen
    </LinkTo>
  </div>
</div>

<div class="container-fluid bg-gray-100 px-0">
  <div class="container py-5 py-lg-9">    
    <div class="row">
      <div class="col-12 col-md-6 col-lg-10">
        <h2>Gib deinem Angebot einen Namen</h2>
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
      </div>    
    </div>
  </div>
</div>

<div class="container d-flex flex-grow-1 py-9 py-xl-0">
  <div class="row py-9 py-md-0 w-100">
    <div class="col-12 col-lg-6 align-self-center">
      <BsForm class="row mb-0 mb-md-4" as |form|>
        <form.element @controlType="text" @label="Angebotsname" @helpText="Bevor Sie mit dem nächsten Schritt fortfahren, stellen Sie sicher, dass Sie Ihr Angebot benennen." @property="text" class="col-12 col-lg-12 mb-0" as |el|>
          <el.control placeholder="z.B. Weihnachtsangebot" required />
        </form.element>
      </BsForm>
    </div>
    <div class="d-none offset-lg-1 col-lg-4 d-lg-block align-self-center">
      <img class="img-fluid" src="/state-images/offer-config-step-01.svg" alt="Offer Config">
    </div>
  </div>
</div>

<div class="container-fluid bg-white shadow">
  <div class="container py-4 d-flex align-items-center flex-column flex-md-row justify-content-md-end">    
    <LinkTo @route="examples.offer-config-wizard-step-02" class="btn btn-primary w-100 w-md-auto">Weiter</LinkTo>    
  </div>
</div>