.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: $avatar-font-size;
  border-width: $avatar-border-size;
  border-style: solid;
  border-radius: 50%;
  height: $avatar-size;
  width: $avatar-size;
  box-shadow: $avatar-box-shadow;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
}

.avatar + .avatar-content {
  display: inline-block;
  margin-left: 0.75rem;
}

.avatar-xl {
  width: $avatar-size-xl;
  height: $avatar-size-xl;
  font-size: $avatar-font-size-xl;
}

.avatar-sm {
  width: $avatar-size-sm;
  height: $avatar-size-sm;
  font-size: $avatar-font-size-sm;
}

// Overlapped avatars

.avatar-group {
  .avatar {
    position: relative;
    z-index: 2;
    border: 2px solid $card-bg;

    &:hover {
      z-index: 3;
    }
  }

  .avatar + .avatar {
    margin-left: -1rem;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the avatar.

// @each $color, $value in $theme-colors {
//   .avatar-#{$color} {
//     @include avatar-variant(
//       theme-color-level($color, $avatar-bg-level),
//       theme-color-level($color, $avatar-border-level),
//       theme-color-level($color, $avatar-color-level)
//     );
//   }
// }
