.ebf-notification {
  &,
  .ebf-notification-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ebf-notification-icon {
    margin-left: $spacer / 4;
    margin-right: $spacer / 4;
    min-width: $font-size-lg * 2;
    min-height: $font-size-lg * 2;
    background: $gray-200;
    border-radius: 50%;
    color: $primary;
    font-size: $font-size-lg;
    transition: $smooth-color-animation-slow;
  }

  .ebf-notification-details {
    flex-grow: 1;
    font-size: $font-size-sm;
    white-space: normal;
    padding-left: $spacer / 2;
    transition-duration: 0.5s;
    transition-property: transform;
  }

  .ebf-notification-close {
    align-self: flex-start;
    transition-duration: 0.2s;
    transition-property: transform;

    @include hover-focus {
      color: $black !important;
      transform: rotate(45deg);
    }
  }
}

.ebf-notification-drodown-toggle {
  position: relative;
}

.ebf-notification-dropdown-menu {
  min-width: 24rem;
  max-width: 24rem;
  max-height: none;

  .dropdown-item {
    padding: 0;

    @include hover-focus {
      border: 0 none;
      outline: none;
    }
  }

  .ebf-notification {
    padding: $dropdown-item-padding-y;

    &:active,
    &:focus,
    &:hover {
      background: $gray-100;

      .ebf-notification-icon {
        background: $gray-100;
      }

      .ebf-notification-details {
        transform: translateX($spacer / 2);
      }

      .ebf-notification-details,
      .ebf-notification-close {
        color: $gray-800;
      }
    }
  }
}
