<div class="text-center loading-spinner {{if @size (concat "loading-spinner-" @size)}}" ...attributes>
  <span class="loading-icon"/>
</div>

{{#if (has-block)}}
  {{yield}}
{{else if @label}}
  <p class="text-muted text-center my-2">{{html-safe @label}}</p>
{{/if}}