<div class="progress">
  <div
    role="progressbar"
    class="progress-bar bg-primary"
    aria-valuenow={{this.value}}
    aria-valuemin={{this.min}}
    aria-valuemax={{this.max}}
    style={{this.style}}
    ...attributes
  />
</div>