<div class="bg-white border rounded p-3 my-3">
  <div class="media">
    <img class="mr-3" src="https://picsum.photos/128" alt="Placeholder" title="Placeholder image">
    <div class="media-body">
      <h5>Media Heading</h5>
      <p>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
        Donec lacinia congue felis in faucibus.
      </p>
    </div>
  </div>
</div>

<h4>Alignment</h4>

<div class="bg-white border rounded p-3 my-3">
  <div class="media">
    <img class="mr-3" src="https://picsum.photos/128" alt="Placeholder" title="Placeholder image">
    <div class="media-body">
      <h5>Top Aligned Media</h5>
      <p>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
        Donec lacinia congue felis in faucibus.
      </p>
      <p>
        Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus.
      </p>
    </div>
  </div>
</div>

<div class="bg-white border rounded p-3 my-3">
  <div class="media">
    <img class="align-self-center mr-3" src="https://picsum.photos/128" alt="Placeholder" title="Placeholder image">
    <div class="media-body">
      <h5>Center Aligned Media</h5>
      <p>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
        Donec lacinia congue felis in faucibus.
      </p>
      <p>
        Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus.
      </p>
    </div>
  </div>
</div>

<div class="bg-white border rounded p-3 my-3">
  <div class="media">
    <img class="align-self-end mr-3" src="https://picsum.photos/128" alt="Placeholder" title="Placeholder image">
    <div class="media-body">
      <h5>Bottom Aligned Media</h5>
      <p>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
        Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
        Donec lacinia congue felis in faucibus.
      </p>
      <p>
        Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus.
      </p>
    </div>
  </div>
</div>

<h4>Media list</h4>

<div class="bg-white border rounded p-3 my-3">
  <ul class="list-unstyled">
    <li class="media">
      <img class="mr-3" src="https://picsum.photos/128" alt="Placeholder" title="Placeholder image">
      <div class="media-body">
        <h5>List-based media object</h5>
        <p>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
          Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
          Donec lacinia congue felis in faucibus.
        </p>
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src="https://picsum.photos/128" alt="Placeholder" title="Placeholder image">
      <div class="media-body">
        <h5>List-based media object</h5>
        <p>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
          Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
          Donec lacinia congue felis in faucibus.
        </p>
      </div>
    </li>
    <li class="media">
      <img class="mr-3" src="https://picsum.photos/128" alt="Placeholder" title="Placeholder image">
      <div class="media-body">
        <h5>List-based media object</h5>
        <p>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
          Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
          Donec lacinia congue felis in faucibus.
        </p>
      </div>
    </li>
  </ul>
</div>
