<Layout as |layout|>  
  

  <DocsHeader>
    {{theme-switcher}}
  </DocsHeader>

  <div class="pt-4">    
    {{outlet}}
  </div>

  <layout.footer>
    @EBF
  </layout.footer>
</Layout>

<DocsKeyboardShortcuts />