<div class="card-summary {{if @horizontal "card-summary-horizontal"}} card" ...attributes>
  <div class="card-body">
    <ul class="list-group list-group-flush mb-0">
      {{yield (hash
        item=(component "card/summary-item")
      )}}
    </ul>
  </div>
</div>