/* Scrollable Nav Component styles */
.scrollable-nav {
  .list-group-item {
    @include hover-focus {
      background-color: $scrollable-nav-link-hover-bg;
    }
  }

  .list-group-item.active {
    background-color: $scrollable-nav-link-active-bg;
    border-color: $list-group-border-color;
    color: $scrollable-nav-link-active-color;

    @include hover-focus {
      background-color: $scrollable-nav-link-hover-bg;
    }
  }
}

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 4rem;
  overflow-y: scroll;
  z-index: 1000;
  height: calc(100vh - 4rem);
  background: linear-gradient(180deg, $white 0%, $gray-100 100%);
  background-color: #fff;
  border-right: 1px solid #dcdcdc;

  .btn.sidebar-toggler {
    z-index: 9999;

    &:hover {
      transform: none;
    }
  }

  &.closed-sidebar {
    max-width: $spacer * 5;
    width: $spacer * 5;

    .nav {
      max-width: $spacer * 3;
      width: $spacer * 3;
    }

    .nav-link span {
      display: none;
    }

    .nav-link span {
      display: none;
    }
  }
}

.aside {
  .nav-link {
    color: $gray-700;

    &:hover {
      color: $primary;
    }
  }
}

$sidebar-bg-color: $black !default;
$sidebar-color: $gray-300 !default;
$sidebar-width: 270px !default;
$sidebar-collapsed-width: 80px !default;
$highlight-color: $white !default;
$submenu-bg-color: $dark !default;
$submenu-bg-color-collapsed: $black !default;
$icon-bg-color: transparent !default;

$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

// // Pro Sidebar Variables
// @import '~react-pro-sidebar/dist/scss/styles.scss';
