// Tables styles
.ebf-table {
  table {
    font-size: $theme-table-font-size;
    margin-bottom: 0;
    background-color: $white;
  }

  th {
    background: $white;
    border-bottom: 0 none;
    color: $black;
    font-size: $theme-th-font-size;
    font-weight: $font-weight-bold;
    padding: $table-cell-padding;
  }

  td {
    color: $gray-900;
    vertical-align: middle;
    height: $spacer * 3;

    .badge {
      display: inherit;
    }

    .custom-select-sm {
      width: auto;
    }
  }
}
